<mat-card class="example-card">
  <div class="row">
    <div class="col-	col-sm-	col-md-11	col-lg-	col-xl-">
      lkjhgfds
    </div>
    <div class="col-	col-sm-	col-md-1	col-lg-	col-xl-">
        <button mat-raised-button color="primary" (click)="addClick">เพิ่มที่อยู่ใหม่</button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="row">
    <div class="col-	col-sm-	col-md-11	col-lg-	col-xl-">
      <mat-list role="list">
        <mat-list-item role="listitem">Item 1</mat-list-item>
      </mat-list>
    </div>
    <div class="col-	col-sm-	col-md-1	col-lg-	col-xl-">
        <button mat-raised-button color="primary">อัพเดท</button>
    </div>
  </div>
</mat-card>