<div class="row">
  <div class="col-lg-3 col-xl-3 col-xs-12 col-sm-12 col-md-12">
    <side-menu-setting-shop></side-menu-setting-shop>
  </div>

  <div class="col-lg-8">
    <mat-card>
      <app-setting-header></app-setting-header>
      <div class="row">
        <div class="col-6 col-sm-6 col-md-6">
          ที่อยู่
        </div>
        <div class="col-6 col-sm-6 col-md-6 txt-right">
          <button mat-raised-button color="primary" (click)="addClick()">เพิ่มที่อยู่ใหม่</button>
        </div>
      </div>
      <!-- <mat-divider></mat-divider> -->

      <div class="row b-shadow" *ngFor="let item of data">
          <div class="col-2 col-sm-2 col-md-2 txt-right">
            <mat-icon>pin_drop</mat-icon>
          </div>
          <div class="col-8 col-sm-8 col-md-8">
            <p class="font-size1">{{item.name}}</p>
            <p class="font-size1">{{item.tel}}</p>
            <p class="font-size1">{{item.address}}</p>
            <p class="font-size1">{{item.province}}</p>
            <p class="font-size1">{{item.district}}</p>
            <p class="font-size1">{{item.subdistrict}}</p>
            <p class="font-size1">{{item.postcode}}</p>
          </div>

          <div class="col-2 col-sm-2 col-md-2 txt-right">
            <mat-icon (click)="clickEdit(item)">create</mat-icon>
            <mat-icon (click)="clickdelete(item._id)">delete</mat-icon>
          </div>
      </div>
    </mat-card>
  </div>
</div>