<div class="col-12" style="padding-left: 0px;padding-right: 0px;">
  <div class="row" style="padding-right: 0px;">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12" style="padding-right: 0px;">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

        <mat-card>
          <div class="table-responsive table-full-width">
            <table class="table ">
              <thead>
                <tr class="txt-name text-center">
                  <th width='350'>ชื่อสินค้า</th>
                  <th width='150'>ตัวเลือกสินค้า</th>
                  <th width='100'>ราคาเดิม</th>
                  <th width='100'>ราคาที่ลดแล้ว</th>
                  <th width='100'>ส่วนลด</th>
                  <th width='100'>จำกัดยอดซื้อ</th>
                  <th width='20'></th>
                </tr>
              </thead>
              <tbody name="nameFor" *ngFor="let item of data.products;let i = index">
                <tr name="subFor" [ngClass]="{'line': j + 1 !== item.prices.length}" *ngFor="let itm of item.prices ;let j = index">
                  <td *ngIf="j === 0">

                    <img class="img-product" [src]="item.image ? item.image.url : ''">
                    <span class="txt-name have-padding-left">{{item.name}}</span>

                  </td>
                  <td *ngIf="j !== 0"></td>
                  <td>
                    <!-- <mat-slide-toggle [disabled]="itm.forceDisable" *ngIf="item.prices.length > 1" [(ngModel)]="itm.isuse" (ngModelChange)="changeData($event,i,j)" [disabled]="itemStatus === 'end' || itemStatus === 'now' && dateLimited < 1"></mat-slide-toggle> -->
                    <mat-slide-toggle name="togglePromotion" [disabled]="itm.forceDisable || data.status === 'end' || itemStatus === 'end' || dateLimited < 1 && itemStatus !=='soon'" *ngIf="item.prices.length > 1"
                      [(ngModel)]="itm.isuse" (ngModelChange)="changeData($event,i,j)"></mat-slide-toggle>
                    <span class="txt-name ">
                      {{itm.name}}
                    </span>
                  </td>
                  <td class="txt-name">
                    {{itm.price |number}}
                  </td>
                  <td>
                    <mat-form-field class="text width-input">
                      <input matInput name="newprice" type="number" [disabled]="!itm.isuse || itemStatus === 'end' || data.status === 'end'" [(ngModel)]="itm.newprice"
                        placeholder="฿" (keyup)="swapPrice($event,'cash',i,j,itm)" (ngModelChange)="checkNumNewprice(itm.newprice,i,j)">
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field class="text width-input">
                      <input matInput name="percentage" type="number" [disabled]="!itm.isuse || itemStatus === 'end' || data.status === 'end'" [(ngModel)]="itm.percentage"
                        placeholder="%ลด" (keyup)="swapPrice($event,'percent',i,j,itm)" (ngModelChange)="checkNumMax(itm.percentage,i,j)">
                    </mat-form-field>
                  </td>
                  <td *ngIf="j === 0">
                    <mat-form-field class="text width-input">
                      <input matInput name="qty" type="number" max="9999" [disabled]="!itm.isuse || itemStatus === 'end' || data.status === 'end'"
                        [(ngModel)]="item.qty" (ngModelChange)="changeData($event,i,j)"(keyup)="checkQty(item)">
                    </mat-form-field>
                  </td>
                  <td *ngIf="j !== 0"></td>
                  <td *ngIf="j === 0">
                    <mat-icon svgIcon="del" name="delete" class="setting-icon-del del-btn" (click)="delProduct(i)"
                      *ngIf="itemStatus === 'soon'"></mat-icon>
                  </td>
                  <td *ngIf="j !== 0">

                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- <div class="table-responsive table-full-width">
            <table class="table ">
              <thead>
                <tr class="txt-name text-center">
                  <th width='350'>ชื่อสินค้า</th>
                  <th width='200'>ตัวเลือกสินค้า</th>
                  <th width='100'>ราคาเดิม</th>
                  <th width='100'>ราคาที่ลดแล้ว</th>
                  <th width='100'>ส่วนลด</th>
                  <th width='100'>จำกัดยอดซื้อ</th>
                </tr>
              </thead>
              <tbody *ngFor="let item of data.products;let i = index">
                <tr [ngClass]="{'line': j + 1 !== item.prices.length}" *ngFor="let itm of item.prices ;let j = index">
                  <td *ngIf="j === 0">

                    <img class="img-product" [src]="item.image ? item.image.url : ''">
                    <span class="txt-name have-padding-left">{{item.name}}</span>

                  </td>
                  <td *ngIf="j !== 0"></td>
                  <td>
                    <span class="txt-name ">
                      {{itm.name}}
                    </span>
                  </td>
                  <td class="txt-name">
                    {{itm.price |number}}
                  </td>
                  <td class="txt-name">
                   ฿ {{itm.newprice|number}}
                  </td>
                  <td class="txt-name">
                    {{itm.percentage}} %ลด
                  </td>
                  <td class="txt-name" *ngIf="j === 0">
                    {{item.qty}}
                  </td>
                  <td *ngIf="j !== 0"></td>
                </tr>
              </tbody>
            </table>
          </div> -->


          <!-- 
          <mat-list class="scroll">
            <div class="row" style="background-color: #f5f5f5;">
              <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                <h3 mat-subheader>ชื่อสินค้า</h3>
              </div>
              <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                <h3 mat-subheader>ตัวเลือกสินค้า</h3>
              </div>
              <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
                <h3 mat-subheader>ราคาเดิม</h3>
              </div>
              <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                <h3 mat-subheader>ราคาที่ลดแล้ว</h3>
              </div>
              <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                <h3 mat-subheader>ส่วนลด</h3>
              </div>
              <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                <h3 mat-subheader>จำกัดยอดซื้อ</h3>
              </div>
              <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
                <h3 mat-subheader></h3>
              </div>
            </div>

            <div *ngFor="let item of data.products;let i = index">
              <div class="row" [ngClass]="{'line': j + 1 === item.prices.length}" *ngFor="let itm of item.prices ;let j = index">
                <div *ngIf="j === 0" class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
                  <img class="img-product" [src]="item.image ? item.image.url : ''">
                </div>
                <div *ngIf="j === 0" class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
                  <div class="txt-name">
                    {{item.name}}
                  </div>
                </div>
                <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" *ngIf="j !== 0"></div>
                <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" *ngIf="j !== 0"></div>
                <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 padding-left padding-right">
                  <mat-slide-toggle [(ngModel)]="itm.isuse" (ngModelChange)="changeData($event)"></mat-slide-toggle>
                </div>
                <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 ">
                  <h3 mat-subheader class="padding-left padding-right"> {{itm.name}}</h3>
                </div>
                <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
                  <h3 mat-subheader> {{itm.price}}</h3>
                </div>
                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                  <mat-form-field class="text">
                    <input matInput [(ngModel)]="itm.newprice" placeholder="฿" (ngModelChange)="swapPrice($event,'cash',i,j,itm.price)">
                  </mat-form-field>
                </div>
                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                  <mat-form-field class="text">
                    <input matInput [(ngModel)]="itm.percentage" placeholder="%ลด" (ngModelChange)="swapPrice($event,'percent',i,j,itm.price)">
                  </mat-form-field>
                </div>
                <div *ngIf="j === 0" class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                  <mat-form-field class="text">
                    <input matInput [(ngModel)]="item.qty" (ngModelChange)="changeData($event)">
                  </mat-form-field>
                </div>
                <div *ngIf="j !== 0">
                </div>
                <div *ngIf="j === 0" class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
                  <mat-icon svgIcon="del" class="setting-icon-del del-btn" (click)="delProduct(i)"></mat-icon>
                </div>
                <div *ngIf="j !== 0">
                </div>
              </div>
            </div>
            <div class="row" *ngIf="data.products.length <= 0">
              <div class="col-12 txt-no-data">
                ไม่มีข้อมูลสินค้า
              </div>
            </div>

      

          </mat-list> -->



          <!-- <mat-list>
            <div class="row" style="background-color: #f5f5f5;">
              <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                <h3 mat-subheader>ชื่อสินค้า</h3>
              </div>
              <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                <h3 mat-subheader>ตัวเลือกสินค้า</h3>
              </div>
              <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                <h3 mat-subheader>ราคาเดิม</h3>
              </div>
              <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                <h3 mat-subheader>ราคาที่ลดแล้ว</h3>
              </div>
              <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                <h3 mat-subheader>ส่วนลด</h3>
              </div>
              <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                <h3 mat-subheader>จำกัดยอดซื้อ</h3>
              </div>

            </div>
            <div *ngFor="let item of data.products;let i = index">
              <div class="row" [ngClass]="{'line': j + 1 === item.prices.length}" *ngFor="let itm of item.prices ;let j = index">
                <div *ngIf="j === 0" class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
                  <img class="img-product" [src]="item.image ? item.image.url : ''">
                </div>
                <div *ngIf="j === 0" class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
                  <div class="txt-name">
                    {{item.name}}
                  </div>
                </div>
                <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" *ngIf="j !== 0"></div>
                <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" *ngIf="j !== 0"></div>
                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                  <h3 mat-subheader> {{itm.isuse}}</h3>
                </div>
                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                  <h3 mat-subheader> {{itm.price}} </h3>
                </div>
                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                  <h3 mat-subheader>{{itm.newprice}}</h3>
                </div>
                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                  <h3 mat-subheader>{{itm.percentage}}%ลด</h3>
                </div>
                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                  <h3 mat-subheader>{{item.qty}}</h3>
                </div>
              </div>
            </div>

          </mat-list> -->


        </mat-card>
      </div>
    </div>
  </div>
</div>

<!-- <div class="col-12">
  <div class="table-responsive">
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->