.title {
    margin-top: 60px !important;
    font-size: 40px;
}

.subtitle {
    font-size: 15px;
    line-height: 32px;
    font-weight: 300;
    color: rgb(184, 184, 184);
    margin: 0% !important;
}

.card-height {
    border-radius: 3px;
    height: 100%;
}

.circle1 {
    height: 90px;
    width: 90px;
    background-color: rgb(133, 135, 233);
    border-radius: 50%;
    display: inline-block;
}
.circle2 {
    height: 90px;
    width: 90px;
    background-color: #FDD835;

    border-radius: 50%;
    display: inline-block;
}
.circle3 {
    height: 90px;
    width: 90px;
    background-color: #81D4FA;    
    border-radius: 50%;
    display: inline-block;
}
.magin{
    margin-top: -5px !important;
    margin-left: -5px !important;
}.smallFont{
    font-size: 15px;
    color: rgb(194, 194, 194);
}.bigFont{
    font-size: 22px;
}

.icon-size{
    height: 100px !important;
    width: 100px !important;
}

.padding-top-div {
    padding-top: 20px;
}