<div class="row">
  <div class="col-12">
    <div class="title text-center">Marketing Center</div>
    <div class="subtitle text-center">ใช้เครื่องมือส่งเสริมการขายของ ในการเข้าร่วมแคมเปญต่างๆ
      เพื่อเพิ่มยอดขายและดึงดูดผู้ซื้อให้เข้ามาในร้านคุณ</div>
    <div>
      <div class="row">
        <div class="col-sm-12 col-md-1 col-lg-1 col-xl-1">
        </div>
        <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10">
          <div class="col-12">
            <div class="row">
              <div name="buttonMyPromotion" class=" col-sm-12 col-md-4 col-lg-4 text-center onCursor" (click)="openMyPromotion()">
                <mat-card class="card-height text-center" >
                  <div class="circle1 text-center">
                    <div class="magin">
                      <mat-icon svgIcon="promotion" class="icon-size"></mat-icon>
                    </div>
                  </div>
                  <div class="padding-top-div">
                    <label class="bigFont ">โปรโมชันส่วนลดของฉัน</label>
                    <label class="smallFont">ติดป้ายลดราคาให้กับสินค้าของคุณเพื่อเพิ่มยอดขาย</label>
                  </div>
                </mat-card>
              </div>
              <div name="buttonCampaign" class=" col-sm-12 col-md-4 col-lg-4 text-center onCursor">
                <mat-card class="card-height text-center">
                  <div class="circle2 text-center">
                    <div class="magin">
                      <mat-icon svgIcon="campaign" class="icon-size"></mat-icon>
                    </div>
                  </div>
                  <div class="padding-top-div">
                    <label class="bigFont ">แคมเปญของ Furnover</label>
                    <label class="smallFont">การนำเสนอสินค้าของคุณจะทำให้ผู้ซื้อเข้าถึงคุณได้มากขึ้นและเพิ่มยอดขายของคุณให้ดียิ่งขึ้น</label>
                  </div>
                </mat-card>
              </div>
              <div name="buttonMyCode" class=" col-sm-12 col-md-4 col-lg-4 text-center onCursor" (click)="openMyCode()">
                <mat-card class="card-height text-center">
                  <div class="circle3 text-center">
                    <div class="magin">
                      <mat-icon svgIcon="coupons" class="icon-size"></mat-icon>
                    </div>
                  </div>
                  <div class="padding-top-div">
                    <label class="bigFont ">โค้ดส่วนลดของฉัน</label>
                    <label class="smallFont">สร้างและจัดการโค้ดส่วนลดของสินค้าภายในร้านคุณ</label>
                  </div>
                </mat-card>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-1 col-lg-1 col-xl-1">
        </div>
      </div>
    </div>
  </div>
</div>