<div class="row">
  <div class="col-12">
    <p class="text-center">Marketing Centre</p>
    <p class="text-center">ใช้เครื่องมือส่งเสริมการขายของ Shopee ในการเข้าร่วมแคมเปญต่างๆ เพื่อเพิ่มยอดขายและดึงดูดผู้ซื้อให้เข้ามาในร้านคุณ</p>
    <div>
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4 text-center">
          <mat-icon svgIcon="local_offer"></mat-icon>

        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 text-center">
          <mat-icon  svgIcon="local_offer"></mat-icon>

        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 text-center">
          <mat-icon  align="right" svgIcon="local_offer"></mat-icon>

        </div>
      </div>
    </div>
  </div>

</div>