<div class="row">
  <div class="col-lg-3 col-xs-12 col-sm-12 col-md-12 col-xl-3">
    <side-menu-setting-shop></side-menu-setting-shop>
  </div>
  <div class="col-lg-8">
    <mat-card>
      <app-setting-header></app-setting-header>
      <br>
      <br>
      <div class="row">
        <div class="col-5 col-sm-5 col-md-5">
          <mat-icon class="ic-color">person_outline</mat-icon>
          <span class="txt-title">หน้าของฉัน</span>
        </div>
        <div class="col-7 col-sm-7 col-md-7 txt-right">
          <img class="avatar-icon" src="https://st2.depositphotos.com/2703645/7676/v/950/depositphotos_76762205-stock-illustration-male-avatar-icon.jpg"
            alt="img">
          <span class="mgl txt-gray">oraphanpoohuipra</span>
          <mat-icon class="mgl ic-pink">wc</mat-icon><span class="mgl txt-gray">หญิง</span>
          <mat-icon class="mgl ic-orange">cake</mat-icon><span class="mgl txt-gray">22/2/2022</span>
          <button mat-stroked-button class="mgl">แก้ไข</button>
        </div>
      </div>


      <br>
      <div class="row">
        <div class="col-5 col-sm-5 col-md-5">
          <mat-icon class="ic-color">call_outline</mat-icon>
          <span class="txt-title">เบอร์โทร</span>
        </div>
        <div class="col-7 col-sm-7 col-md-7 txt-right">
          <span class="mgl txt-gray">0876543321</span>
          <button mat-stroked-button class="mgl">แก้ไข</button>
        </div>
      </div>


      <br>
      <div class="row">
        <div class="col-5 col-sm-5 col-md-5">
          <mat-icon class="ic-color">mail_outline</mat-icon>
          <span class="txt-title">E-mail</span>
        </div>
        <div class="col-7 col-sm-7 col-md-7 txt-right">
          <span class="mgl txt-gray">nid@gmail.com</span>
          <button mat-stroked-button class="mgl">แก้ไข</button>
        </div>
      </div>
    </mat-card>
  </div>