<div class="row">
  <div class="col-lg-3 col-xs-12 col-sm-12 col-md-12 col-xl-3">
    <side-menu-setting-shop></side-menu-setting-shop>
  </div>
  <div class="col-lg-8">
    <mat-card>
      <app-setting-header></app-setting-header>
      <br>
      <br>
      <div class="row">
        <div class="col-5 col-sm-5 col-md-5">
          <mat-icon class="ic-color">person_outline</mat-icon>
          <span class="txt-title">หน้าของฉัน</span>
        </div>
        <div class="col-7 col-sm-7 col-md-7 txt-right">
          <div *ngIf="!show1">
            <img class="avatar-icon" [src]="data.profileImageURL"
              alt="img">
            <span class="mgl txt-gray">{{data.displayname}}</span>
            <mat-icon class="mgl ic-pink">wc</mat-icon><span class="mgl txt-gray">หญิง</span>
            <mat-icon class="mgl ic-orange">cake</mat-icon><span class="mgl txt-gray">22/2/2022</span>
            <button mat-stroked-button class="mgl" (click)="clickShow1()">แก้ไข</button>
          </div>
          <div *ngIf="show1">
            <button mat-flat-button color="primary" class="mgl">อัพเดท</button>
            <button mat-stroked-button class="mgl" (click)="clickShow1()">ยกเลิก</button>
            <div class="row">
              <span class="txt-gray inp-style">
                <mat-form-field>
                  <input matInput placeholder="ชื่อผู้ใช้" value="">
                </mat-form-field>
                <br>
                <br>
                <mat-form-field>
                  <input matInput placeholder="เพศ" value="">
                </mat-form-field>
                <br>
                <br>
                <mat-form-field>
                  <input matInput [matDatepicker]="dp" placeholder="วันเกิด" [(ngModel)]="date" (ngModelChange)="getStartDate($event)">
                  <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                  <mat-datepicker #dp></mat-datepicker>
                </mat-form-field>
              </span>
            </div>
          </div>
        </div>
      </div>


      <br>
      <div class="row">
        <div class="col-5 col-sm-5 col-md-5">
          <mat-icon class="ic-color">call_outline</mat-icon>
          <span class="txt-title">เบอร์โทร</span>
        </div>
        <div class="col-7 col-sm-7 col-md-7 txt-right">
          <div *ngIf="!show2">
            <span class="mgl txt-gray">0876543321</span>
            <button mat-stroked-button class="mgl" (click)="clickShow2()">แก้ไข</button>
          </div>
          <div *ngIf="show2">
            <button mat-flat-button color="primary" class="mgl">อัพเดท</button>
            <button mat-stroked-button class="mgl" (click)="clickShow2()">ยกเลิก</button>
            <mat-form-field *ngIf="show2">
              <input matInput placeholder="เบอร์โทร" value="">
            </mat-form-field>
          </div>
        </div>
      </div>


      <br>
      <div class="row">
        <div class="col-5 col-sm-5 col-md-5">
          <mat-icon class="ic-color">mail_outline</mat-icon>
          <span class="txt-title">E-mail</span>
        </div>
        <div class="col-7 col-sm-7 col-md-7 txt-right">
          <div *ngIf="!show3">
            <span class="mgl txt-gray">{{data.email}}</span>
            <button mat-stroked-button class="mgl" (click)="clickShow3()">แก้ไข</button>
          </div>
          <div *ngIf="show3">
            <button mat-flat-button color="primary" class="mgl">อัพเดท</button>
            <button mat-stroked-button class="mgl" (click)="clickShow3()">ยกเลิก</button>
            <mat-form-field>
              <input matInput placeholder="อีเมล์" value="">
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-card>
  </div>