<div class="row">
  <div class="col-lg-3 col-xl-3 col-xs-12 col-sm-12 col-md-12">
    <side-menu-setting-shop></side-menu-setting-shop>
  </div>
  <div class="col-lg-8">
    <mat-card>
      <app-setting-header></app-setting-header>

      <!-- row1 -->
      <div class="row">
        <div class="col-1 col-sm-1 col-md-1 icon-right">
          <mat-icon>person_outline</mat-icon>
        </div>
        <div class="col-5 col-sm-5 col-md-5">
          หน้าของฉัน
        </div>
        <div class="col-6 col-sm-6 col-md-6">
          หน้าของฉัน
        </div>
      </div>

      <!-- row -->
      <div class="row">
        <div class="col-1 col-sm-1 col-md-1 icon-right">
          <mat-icon>call_outline</mat-icon>
        </div>
        <div class="col-5 col-sm-5 col-md-5">
          เบอร์โทร
        </div>
        <div class="col-6 col-sm-6 col-md-6">
          เบอร์โทร
        </div>
      </div>

      <!-- row3 -->
      <div class="row">
        <div class="col-1 col-sm-1 col-md-1 icon-right">
          <mat-icon>mail_outline</mat-icon>
        </div>
        <div class="col-5 col-sm-5 col-md-5">
          E-mail
        </div>
        <div class="col-6 col-sm-6 col-md-6">
          E-mail
        </div>
      </div>