<div class="row padding">
  <div class="col-12">
    <div class="row">

      <div class="col-12 col-12 col-md-12 col-lg-12">
        <div class="row">
          <div class="col-9">
            <mat-card>
              <mat-icon class="color-orange">check_circle_outline</mat-icon> <span class="color-orange position-ab left-50">
                สำเร็จ</span>

            </mat-card>
            <mat-card class="margin-top-10">
              <div class="col-12">
                <div class="row">
                  <div class="col-12">
                    <mat-icon>receipt</mat-icon>
                    <span class="position-ab left-40">หมายเลขคำสั่งซื้อ</span>
                    <p class="padding-left-32px">1234567890</p>
                  </div>
                  <div class="col-12">
                    <mat-icon>pin_drop</mat-icon>
                    <span class="position-ab left-40">ที่อยู่ในการจัดส่ง</span>
                    <p class="padding-left-32px">ณัฐพล ใจดี , 0958820243</p>
                    <p class="padding-left-32px">5/16 หมู่ 2 ตำบลสมเด็จเจริญ อำเภอหนองปรือ จังหวัดกาญจนบุรี 71220</p>
                  </div>
                  <div class="col-12">
                    <mat-icon>airport_shuttle</mat-icon>
                    <span class="position-ab left-40">ที่อยู่ในการจัดส่ง</span>
                    <p class="padding-left-32px">furnover จัดส่ง</p>
                  </div>
                </div>
              </div>
            </mat-card>
            <mat-card class="margin-top-10">
              <div class="col-12">
                <div class="row">
                  <div class="col-12">
                    <mat-icon>monetization_on</mat-icon>
                    <span class="position-ab left-40">รายละเอียดการชำระเงิน</span>
                  </div>
                  <div class="table-responsive table-full-width">
                    <table class="table ">
                      <thead>
                        <tr class="txt-name">
                          <th width='50'>No</th>
                          <th width='400'>สินค้าทั้งหมด</th>
                          <th width='100'>ราคาต่อชิ้น</th>
                          <th width='100'>จำนวน</th>
                          <th width='100'>ยอดรวม</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>12123</td>
                          <td>123123</td>
                          <td>42545</td>
                          <td>123123</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </mat-card>
          </div>
          <div class="col-3 text-center text-left">
            <p class="heading-1"><span>ประวัติการซื้อสินค้า</span></p>
            <mat-icon>av_timer</mat-icon> <span class="position-ab padding-left-5px">เวลาที่ชำระเงิน</span>
            <p class="padding-left-32px">26-11-2018</p>
            <mat-icon>timer</mat-icon> <span class="position-ab padding-left-5px">เวลาที่สั่งซื้อ</span>
            <p class="padding-left-32px">26-11-2018</p>
          </div>

          <div>

          </div>
        </div>

      </div>
    </div>
  </div>

</div>