<mat-card class="container">
  <div name="divHeader" class="code-setting-header-title row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <span>การขายของฉัน</span>
    </div>
  </div>
  <mat-tab-group name="mat-tab-groupStatus">
    <mat-tab name="mat-tabStatus" label="{{item.name}}" *ngFor="let item of statusTab">
      <!-- <mat-list class="padding">

        <div class="row">
          <div class="col-12 col-md-4 col-sm-4">
            <mat-form-field>
              <mat-icon class="search-order">search</mat-icon>
              <input name="search" matInput placeholder="ค้นหา">
            </mat-form-field>
          </div>
        </div>

        <div class="row" style="background-color: #f5f5f5;">
          <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" style="padding-bottom: 0px !important;">
            <h3 mat-subheader>สินค้าทั้งหมด</h3>
          </div>
          <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 text-right" style="padding-bottom: 0px !important;">
            <h3 mat-subheader class="no-flex">ยอดคำสั่งซื้อทั้งหมด</h3>
          </div>
          <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 text-center" style="padding-bottom: 0px !important;">
            <h3 mat-subheader class="no-flex">สถานะ</h3>
          </div>
          <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center" style="padding-bottom: 0px !important;">
            <h3 mat-subheader class="no-flex">กำลังจัดรายการ</h3>
          </div>
        </div>

        <div class="row border-shop">
          <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
            <img class="img-shop" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSH5dtjQzlb-ItjmdBpCb8rlchKq2RwN-tBrSpRJFRWiN1VkY0RWg">
            <h3 mat-subheader class="no-flex">ร้านเพียวเองงง</h3>
          </div>
          <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">
            <h3 mat-subheader class="no-flex">หมายเลขคำสั่งซื้อ 1100501307564</h3>
          </div>
        </div>

        <div class="row border-shop">
          <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-left">
            <h3 mat-subheader class="no-flex">เสื้อน้องหมา</h3><br>
            <h3 mat-subheader class="no-flex">ตัวเลือกสินค้า:เบอร์ 6 แขนสั้น</h3>
          </div>
          <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 text-right">
            <div class="row no-padding-top">
              <div class="col-4 text-center no-padding-top">
                <h3 mat-subheader class="no-flex">x1</h3>
              </div>
              <div class="col-8 text-center no-padding-top">
                <h3 mat-subheader class="no-flex color-theme font-bold">฿250</h3><br>
                <h3 mat-subheader class="no-flex payment-type-font">โอนเงินผ่านบัญชีธนาคาร</h3>
              </div>
            </div>
          </div>
          <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 text-center">
            <h3 mat-subheader class="no-flex color-success font-bold">สำเร็จแล้ว</h3>
          </div>
          <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">
            <button mat-stroked-button color="primary">ยกเลิก</button>
          </div>
        </div>
      </mat-list> -->
      
      <mat-list class="padding">
          <order-list ></order-list>
      </mat-list>
    </mat-tab>
  </mat-tab-group>
</mat-card>