<!-- สร้างโปรโมชั่น -->
<div class="row" *ngIf="!isSave">
  <div class="col-1"></div>
  <div class="col-10 col-md-10">
    <div class="row">
      <div class="col-12 padding-heder">
        <div class="row padding-heder">
          <div class="col-12 padding-heder">
            <p class="font-header">ข้อมูลโปรโมชั่น</p>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-12 col-md-3">
            <p class="font-form">ชื่อโปรโมชั่น</p>
          </div>
          <div class="col-12 col-md-3">
            <mat-form-field>
              <input matInput [(ngModel)]="data.title">
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="row">
          <div class="col-12 col-md-6">
            <p class="font-form">วันเริ่มต้นของโปรโมชั่น</p>
          </div>
          <div class="col-12 col-md-4">
            <mat-form-field>
              <input matInput [matDatepicker]="dp" placeholder="เลือกวันที่" (ngModelChange)="validateDate($event)"
                [(ngModel)]="_startdate" disabled>
              <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
              <mat-datepicker #dp disabled="false"></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="row">
          <div class="col-12 col-md-6">
            <p class="font-form">เวลาเริ่มต้นของโปรโมชั่น</p>
          </div>
          <div class="col-12 col-md-4">
            <mat-form-field><input matInput type="time" (ngModelChange)="validateDate($event)" [(ngModel)]="data.starttime"></mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="row">
          <div class="col-12 col-md-6">
            <p class="font-form">วันสิ้นสุดของโปรโมชั่น</p>
          </div>
          <div class="col-12 col-md-4">
            <mat-form-field>
              <input matInput [matDatepicker]="dp2" placeholder="เลือกวันที่" (ngModelChange)="validateDate($event)"
                [(ngModel)]="_enddate" disabled>
              <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
              <mat-datepicker #dp2 disabled="false"></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="row">
          <div class="col-12 col-md-6">
            <p class="font-form">เวลาสิ้นสุดของโปรโมชั่น</p>
          </div>
          <div class="col-12 col-md-4">
            <mat-form-field><input matInput type="time" (ngModelChange)='validateDate($event)' [(ngModel)]="data.endtime"></mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="row" *ngIf="!isValidateDate">
          <div class="col-12 text-center">
            <p class="text-error">
              วันที่เริ่มต้นต้องมากกว่าหรือเท่ากับวันที่ปัจจุบันและเวลาสิ้นสุดต้องมากกว่าวันที่เริ่มต้น
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-5">
          </div>
          <div class="col-12 col-md-2">
            <button style="width:100%" mat-button color="primary" [disabled]="!isValidateDate || !data.title" (click)="sendData()">บันทึกและทำต่อไป</button>
          </div>
          <div class="col-12 col-md-5"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-1"></div>
</div>

<!-- เเก้ไขโปรโมชั่น -->
<div class="row row-pd" *ngIf="isSave">

  <div class="col-12 padding-heder">
    <p class="font-header">ข้อมูลโปรโมชั่น</p>
  </div>
  <div class="col-2 label">
    <h6>ชนิด</h6>
  </div>
  <div class="col-10">
    <h6>{{data.title}}</h6>
  </div>
  <div class="col-2 label">
    <h6>ระยะเวลาการจัดรายการ</h6>
  </div>
  <div class="col-10">
    <h6>{{data.startdate | date:"dd-MM-yyyy" }} {{data.starttime }} - {{data.enddate | date:"dd-MM-yyyy" }}
      {{data.endtime }} <span class="sp-txt" (click)="edit()" *ngIf="itemStatus === 'soon' || itemStatus === 'now'">
        <mat-icon class="ic-pst">create</mat-icon> <span class="sp-txt-2">แก้ไขโปรโมชั่น</span>
      </span></h6>
  </div>
</div>