.padding-date-time {
    padding-right: 20px;
}

.padding-date-time-input {
    padding-bottom: 5px;
}

.font-header {
    font-size: 18px;
}

.font-form {
    color: grey;
}

.padding-heder {
    padding-bottom: 0px !important;
}

.padding-date-time {
    padding-left: 20px !important;
}

.label {
    color: #888888;
}

.sp-txt {
    color: #ff9558;
    font-size: 0.8rem;
    cursor: pointer;
}

.sp-txt-2 {
    margin-left: 26px;
}

.ic-pst {
    position: absolute;
    margin-top: -2px;
}

.row-pd {
    padding-left: 1.2rem;
}