<div class="chat-box" *ngIf="isMinimize" (click)="minimize()">
  <div class="badge">2</div>
  <mat-icon class="icon-chat">chat</mat-icon> <span class="chat-txt">พูดคุย</span>
</div>

<!-- //////////////////// chat detail containner ////////// -->

<div class="chat-containner" *ngIf="!isMinimize">
  <div class="row chat-containner-head">
    <div class="col-4 bd-right center"><input type="text" class="search" placeholder="ค้นหาผู้ใช้">
      <mat-icon class="search-btn">search</mat-icon>
    </div>
    <div class="col-8 center">ร้านเฟอร์นิเจอร์ <mat-icon class="setting-btn">settings</mat-icon>
      <mat-icon class="minimize-btn" (click)="minimize()">remove</mat-icon>
    </div>
  </div>
</div>