.wrapper.content {
    background-color: #fff;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, .09);
    padding: 20px 48px;
}

.wrapper {
    width: auto;
    margin: 0 auto;
}

h2,
h3 {
    color: #666;
    font-weight: 400;
}

.header-description {
    position: relative;
    bottom: 12px;
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 12px;
    color: #8c8c8c;
}

.txt-right {
    text-align: right;
}

.image-move {
    background: center no-repeat;
    background-size: cover;
    width: auto;
    height: 180px;
    cursor: move;
}

.tools {
    position: absolute;
    right: 0;
}

.crop {
    width: 40px;
    height: 40px;
    background: rgba(101, 106, 210, .54);
    ;
    text-align: center;
    border-radius: 50%;
    padding-top: 6px;
    color: #ffffff;
    cursor: pointer;
    position: absolute;
    right: 70px;
    margin-top: 10px;
}

.remove {
    width: 40px;
    height: 40px;
    background: rgba(255, 87, 34, .54);
    text-align: center;
    border-radius: 50%;
    padding-top: 6px;
    color: #ffffff;
    cursor: pointer;
    position: absolute;
    right: 16px;
    margin-top: 10px;
}

.title {
    height: 60px;
    background: rgba(0, 0, 0, .5);
    text-align: center;
    color: #ffffff;
    position: sticky;
    /* width: 94.5%; */
    margin-top: -3.7rem;
    padding: 1.2rem;
}

.contrain {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.fix-col {
    border: dashed;
    border-color: #a9a9a9;
    height: 180px;
    position: relative;
    cursor: pointer;
}

.fix-col p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
}

.add-txt {
    margin-top: 3rem !important;
    color: #ff9558;
    cursor: pointer;
}

.btn-option {
    padding: 6px;
    border-style: dashed;
    border-color: #00bfa5;
    color: #00bfa5;
    cursor: pointer;
}

.add-cus {
    position: absolute;
    margin-left: -24px;
    cursor: pointer;
}

.ic-1 {
    z-index: 999;
    cursor: pointer;
}

.txt-left {
    text-align: left;
}

.mgt {
    margin-top: 1rem;
    padding: 1rem;
}

.options-ctn {
    background-color: #f7f7f7;
    border-radius: 6px;
    padding: 3rem !important;
}

.del-btn {
    position: absolute;
    right: 4px;
    cursor: pointer;
    color: #ffffff;
    background-color: #c0c0c0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding-top: 4px;
    z-index: 999;
    margin-top: -44px;
}

.sub-del-btn {
    position: absolute;
    right: 10px;
    margin-top: 10px;
    color: #c0c0c0;
    cursor: pointer;
}

table {
    width: 100%;
}

.sub-row {
    padding-top: 1.4rem !important;
}

.logis-box {
    border: 1px solid #dddddd;
}

.logis-label {
    width: 100px;
    background-color: #ffffff;
    position: absolute;
    margin-top: -14px;
    z-index: 99;
    text-align: center;
    font-size: 0.8rem;
    color: #00bfa5;
}

.logis-label-2 {
    width: 100px;
    background-color: #ffffff;
    position: absolute;
    margin-top: -14px;
    z-index: 99;
    text-align: center;
    font-size: 0.8rem;
    color: #b8b7b7;
}

.logis-name {
    font-size: 0.9rem;
    line-height: 2.2rem;
    padding-left: 20px !important;
}

.logis-price {
    text-align: right;
}

.logis-ic {
    margin-left: 60px;
}

.text-remark {
    color: #b8b7b7;
    font-size: 0.8rem;
}

.center {
    text-align: center;
}

.box-select {
    border: 1px solid #dddddd;
    text-align: left;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.8rem;
    border-radius: 4px;
    line-height: 2.2rem;
}

.ar-down {
    position: absolute;
    right: 0;
    color: #c2c1c1;
    top: 0.4rem;
}

.expan {
    height: auto;
    min-height: 200px;
    position: absolute;
    z-index: 999;
    background-color: #ffffff;
}

.box-submenu {
    padding: 1.2rem;
    color: #8d8d8d;
}

.sub-menu {
    font-size: 0.7rem;
}

.sub-menu:hover {
    background-color: #f0f0f0;
}

.circle-box {
    background-color: red;
    border-radius: 100%;
    width: 32px;
    height: 32px;
    color: #ffffff;
    cursor: pointer;
}

.ic-position {
    margin-left: 4px;
    margin-top: -4px;
}

.sale-txt {
    padding: 20px 0 0 0 !important;
}

.txt-icon {
    position: absolute;
    margin: -4px 0 0 6px;
}

.box-btn {
    width: 120px;
    color: #05c805;
    cursor: pointer;
}

.contanner-wholsale {
    border: 1px solid #dddddd;
    padding-left: 2rem !important;
    border-radius: 4px;
}

.product-img {
    object-fit: cover;
    width: 100%;
    height: 180px;
    cursor: move;
}

/* ///// table */

table {
    width: 100%;
}

thead {
    background-color: rgb(231, 231, 231) !important;
    padding: 5px !important;
}

.txt-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    color: #868686;
}

.ic-center {
    text-align: center;
}

.ic-green {
    color: rgb(13, 240, 13);
}

.ic-red {
    color: red;
}

.ic-orange {
    color: orange;
}

.pl-box {
    border: 1px solid #dddddd;
    border-radius: 4px;
}

.ws-padding {
    padding-top: 0.8rem;
}

.mgt-l {
    margin-left: 18px;
    color: #ffffff !important;
}

.option-name1 {
    position: absolute;
    left: 10px;
    margin-top: 14px;
}

.err-msg {
    padding-top: 10px;
    background-color: #ff9372;
    color: #ffffff;
    border-radius: 4px;
}

.option-head {
    font-weight: bold;
    position: absolute;
    z-index: 999;
    margin: 6px 0 0 10px;
    background-color: #f7f7f7;
    padding: 4px;
    border-radius: 4px;
}

.arr-sub {
    position: absolute;
    right: 0;
    z-index: 999;
    top: 0;
}

.mgt-10 {
    margin-top: 10px;
}

.pdt-20 {
    padding-top: 20px;
}