<div class="wrapper content">
  <div class="row">
    <div class="col-12">
      <h2>รูปภาพสินค้า</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-10 col-sm-10 col-md-10">
      <p class="header-description">เริ่มจากการอัพโหลดรูปภาพของคุณ ทิปการถ่ายรูปให้สินค้าน่าสนใจ
        กรุณาถ่ายรูปสินค้าให้ชัดเจนด้วยพื้นหลังสีขาว
        และอัพหลายๆรูปเพื่อสามารถดูได้หลายๆมุม</p>
    </div>
    <div class="col-2 col-sm-2 col-md-2 txt-right">
      <p class="header-description">{{images.length}}/9 รูปภาพ</p>
    </div>
  </div>

  <div class="row">
    <div name="divNgFor" class="col-12 col-sm-4 col-md-2" *ngFor="let item of images;let i = index">
      <div class="contrain">
        <div class="tools">
          <!-- <div class="crop">
            <mat-icon>crop</mat-icon>
          </div> -->
          <div name="buttonDeleteImage" class="remove" (click)="deleteImg(i)">
            <mat-icon>delete</mat-icon>
          </div>
        </div>
        <img [src]="item.url" alt="image" class="product-img">
        <div *ngIf="i === 0" class="title">
          รูปภาพปก
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-4 col-md-2" *ngIf="images.length < 9">
      <div name="buttonUploadImage" class="fix-col" (click)="uploadImg()">
        <p>
          <button mat-fab color="primary">
            <mat-icon>add</mat-icon>
          </button>
        </p>
        <p class="add-txt">เพิ่มรูปภาพใหม่</p>
      </div>
    </div>

    <input name="productImage" type="file" #productImg accept="image/*" [(ngModel)]="productImgModel" (change)="onProductImgChange($event)"
      style="visibility: hidden;">
  </div>

  <div class="row">
    <div class="col-12 col-sm-12 col-md-12">
      ข้อมูลทั่วไป
    </div>
  </div>

  <div class="row">
    <div class="col-0 col-sm-2 col-md-3"></div>
    <div class="col-12 col-sm-8 col-md-6">
      <div class="row">
        <div class="col col-12 text-center">
          <div>
            <mat-form-field>
              <input name="productName" matInput placeholder="ชื่อสินค้า" type="text" [(ngModel)]="data.name" required>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <textarea name="productDetail" matInput rows="4" placeholder="รายละเอียดสินค้า" [(ngModel)]="data.detail" required></textarea>
            </mat-form-field>
          </div>
          <div class="row">
            <div name="expandMenu" [className]="toggleSubMenu ? 'col-12 box-select expan' : 'col-12 box-select'" (click)="expansubMenu()">
              <div class="ar-down">
                <mat-icon>keyboard_arrow_down</mat-icon>
              </div>
              <span name="spanNgFor" *ngFor="let state of stateSubmenu;let i = index">{{state.name}} <span *ngIf="stateSubmenu.length !== i + 1">
                  > </span> </span>
              <span *ngIf="stateSubmenu.length <= 0">เลือกหมวดหมู่ *</span>
              <div class="row" *ngIf="toggleSubMenu">
                <div class="col-4">
                  <div class="row box-submenu">
                    <div name="divNgForCate" class="col-12" *ngFor="let item of resData.categories">
                      <div name="expandSubMenu" class="row sub-menu" (click)="expanChildren(0,item)">
                        <div class="col-11">
                          {{item.name}}
                        </div>
                        <div class="col-1" *ngIf="item.children.length > 0">
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- //for loop -->
                <div name="divNgforState" class="col-4" *ngFor="let state of stateSubmenu;let i = index">
                  <div class="row box-submenu">
                    <div name="divNgforStateOfItem" class="col-12" *ngFor="let item of state.items">
                      <div name="expandSubMenuInSubMenu" class="row sub-menu" (click)="expanChildren(i+1,item)">
                        <div class="col-11">
                          {{item.name}}
                        </div>
                        <div class="col-1" *ngIf="item.children.length > 0">
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-0 col-sm-2 col-md-3"></div>
  </div>

  <!-- /////////////////////////////// new price list ///////////////// -->
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12">
      ราคาและคลัง
    </div>
  </div>

  <div class="row">
    <div class="col-0 col-sm-2 col-md-3"></div>
    <div class="col-12 col-sm-8 col-md-6">
      <div class="row">
        <div class="col col-12 text-center">
          <div *ngIf="optionBoxs.length <= 0">
            <mat-form-field>
              <input name="productPrice" matInput placeholder="ราคา" [(ngModel)]="price" (ngModelChange)="validatePriceAndStock()" type="number"
                required>
            </mat-form-field>
          </div>
          <div *ngIf="optionBoxs.length <= 0">
            <mat-form-field>
              <input name="productStock" matInput placeholder="คลัง" type="number" [(ngModel)]="stock" (ngModelChange)="validatePriceAndStock()">
            </mat-form-field>
          </div>
          <div name="buttonOpenOption" class="btn-option" (click)="openOption()" *ngIf="optionBoxs.length <= 0">
            <mat-icon class="add-cus">add</mat-icon> เปิดตัวเลือก
          </div>

          <div *ngIf="optionBoxs.length > 0">
            <div name="divNgforOptionBox" class="row mgt" *ngFor="let item of optionBoxs;let i = index">
              <div class="option-head">
                ตัวเลือกที่ {{i + 1}}
              </div>
              <div class="col-12 col-sm-12 col-md-12 options-ctn">
                <div name="buttonDeleteProductOption" class="del-btn" (click)="delOptionBox(i)">
                  <mat-icon>close</mat-icon>
                </div>
                <div>
                  <span class="option-name1">ชื่อ</span>
                  <mat-form-field>
                    <input name="optionProductSize" matInput [(ngModel)]="item.name" (ngModelChange)="genTable()" placeholder="ใส่ชื่อตัวเลือก เช่นสี ไซส์..."
                      type="text" required>
                  </mat-form-field>
                </div>
                <div name="divNgForItemOptions" *ngFor="let option of item.options;let j = index">
                  <div>
                    <div name="buttonDeleteProductColorOption" class="sub-del-btn" *ngIf="item.options.length > 1" (click)="delOptions(i,j)">
                      <mat-icon>close</mat-icon>
                    </div>
                    <mat-form-field>
                      <input name="optionProductColor" matInput [(ngModel)]="option.name" (ngModelChange)="genTable()" placeholder="ใส่ข้อมูลตัวเลือก เช่นสีแดง สีขาว..."
                        type="text" required>
                    </mat-form-field>
                  </div>
                </div>

                <div class="btn-option" (click)="addOptions(i)">
                  <mat-icon name="buttonAddOption" class="add-cus">add</mat-icon> เพิ่มตัวเลือก {{item.options.length}}/20
                </div>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="optionBoxs.length > 0">
            <div class="col-12">
              <div name="buttonAddProductOption" class="btn-option" (click)="addOptionBox()" *ngIf="optionBoxs.length < 2">
                <mat-icon class="add-cus">add</mat-icon> เพิ่มตัวเลือกสินค้า
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-0 col-sm-2 col-md-3"></div>
  </div>

  <div class="row" *ngIf="optionBoxs.length > 0">
    <div class="col-0 col-sm-2 col-md-3"></div>
    <div class="col-12 col-sm-8 col-md-6">
      <div class="row">
        <div class="col-12 pl-box">
          <div class="table-responsive table-full-width">
            <table class="table">
              <thead>
                <tr class="txt-name">
                  <th name="nameSizeOption" width="150" *ngFor="let item of optionBoxs">{{item.name ? item.name:'ชื่อ'}}</th>
                  <th>ราคา</th>
                  <th>คลัง</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr name="TrNgFor" *ngFor="let item of optionList">
                  <!-- <td>{{item.type ? item.type : 'ตัวเลือก'}}</td> -->
                  <td name="nameColorOption1">{{tranformTxt(item.type ? item.type : 'ตัวเลือก')}}</td>
                  <td name="nameColorOption2" *ngIf="optionBoxs.length > 1">{{tranformTxt(item.name ? item.name : 'ตัวเลือก')}}</td>
                  <td><input name="priceOption" matInput type="number" [(ngModel)]="item.price" (ngModelChange)="checkSamePrice()"></td>
                  <td><input name="stockOption" matInput type="number" [(ngModel)]="item.stock" (ngModelChange)="checkNum()"></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-0 col-sm-2 col-md-3"></div>
  </div>
  <!-- //////////////////////////////////////////////////////////////// -->

  <!-- /////// new wholsale /// -->

  <div class="row">
    <div class="col-12 col-sm-12 col-md-12">
      ขายส่ง
    </div>
  </div>

  <div class="row">
    <div class="col-0 col-sm-2 col-md-3"></div>
    <div class="col-12 col-sm-8 col-md-6">
      <div class="row">
        <div class="col-12 contanner-wholsale">
          <div class="row" *ngIf="wholesaleList.length > 0 && isSamePrice">
            <div class="col-4">

            </div>
            <div class="col-2">
              ต่ำสุด
            </div>
            <div class="col-2">
              สูงสุด
            </div>
            <div class="col-2">
              หน่วยราคา
            </div>
            <div class="col-2">

            </div>
          </div>
          <!-- ///// dynamic input -->
          <span *ngIf="isSamePrice">
            <div name="divNgForWholesaleList" class="row" *ngFor="let item of wholesaleList;let i = index">
              <div class="col-4 sale-txt">
                {{i + 1}}. ช่วงราคา {{i + 1}}
              </div>
              <div class="col-2">
                <mat-form-field>
                  <input name="priceMin" matInput placeholder="ต่ำสุด" [disabled]="i > 0" [(ngModel)]="item.min" (ngModelChange)="checkWholesaleMin($event,i)"
                    type="number">
                </mat-form-field>
              </div>
              <div class="col-2">
                <mat-form-field>
                  <input matInput name="priceMax" placeholder="สูงสุด" [(ngModel)]="item.max" (ngModelChange)="checkWholesaleMax($event,i)"
                    type="number">
                </mat-form-field>
              </div>
              <div class="col-2">
                <mat-form-field>
                  <input matInput name="pricePerQty" placeholder="฿ หน่วยราคา" [(ngModel)]="item.price" (ngModelChange)="checkNum()" type="number">
                </mat-form-field>
              </div>
              <div name="buttonDeleteWholeSale" class="col-2" (click)="delWholesale(i)">
                <div class="circle-box">
                  <mat-icon class="ic-position">minimize</mat-icon>
                </div>
              </div>
            </div>
            <div *ngIf="isSamePrice && wholesaleList.length > 0 && isValidWholsale" class="err-msg">
              <mat-icon class="ic-position">error</mat-icon> <span class="txt-icon">แต่ละช่วงราคา
                ต่ำสุดต้องน้อยกว่าหรือเท่ากับสูงสุด</span>
            </div>
          </span>

          <div class="row ws-padding">
            <div class="col-12" *ngIf="isSamePrice">
              <div name="buttonAddWholeSale" class="box-btn" (click)="addWholesale()">
                <mat-icon class="ic-position">add_circle_outline</mat-icon> <span class="txt-icon">เพิ่มช่วงราคา</span>
              </div>
            </div>

            <div class="col-12" *ngIf="!isSamePrice && optionBoxs.length > 0">
              <mat-icon class="ic-position">error</mat-icon> <span class="txt-icon">ราคาขายส่งจะใช้ได้ก็ต่อเมื่อตัวเลือกสินค้าเป็นราคาเดียวกัน</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-0 col-sm-2 col-md-3"></div>
  </div>

  <!-- ///////// -->

  <div class="row">
    <div class="col-12 col-sm-12 col-md-12">
      การจัดส่ง
    </div>
  </div>

  <div class="row">
    <div class="col-0 col-sm-2 col-md-3"></div>
    <div class="col-12 col-sm-8 col-md-6">
      <div class="row">
        <div class="col col-3 sub-row">
          น้ำหนัก
        </div>
        <div class="col col-3 text-center">
          <div>
            <mat-form-field>
              <input name="productWeight" matInput placeholder="น้ำหนัก kg" [(ngModel)]="data.weight" type="number">
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col col-3 sub-row">
          ขนาดพัสดุ
        </div>
        <div class="col col-3 text-center">
          <div>
            <mat-form-field>
              <input name="productWidth" matInput placeholder="กว้าง cm" type="number" [(ngModel)]="data.width">
            </mat-form-field>
          </div>
        </div>
        <div class="col col-3 text-center">
          <div>
            <mat-form-field>
              <input name="productLength" matInput placeholder="ยาว cm" type="number" [(ngModel)]="data.itemlength">
            </mat-form-field>
          </div>
        </div>
        <div class="col col-3 text-center">
          <div>
            <mat-form-field>
              <input name="productHeight" matInput placeholder="สูง cm" type="number" [(ngModel)]="data.height">
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-3 sub-row">
          ค่าจัดส่ง
        </div>
        <div class="col-9" *ngIf="shippings.length > 0">
          <div class="logis-label">
            เปิดการใช้งาน
          </div>
          <div class="row">
            <div class="col-12 logis-box">
              <div name="divNgForShipping" class="row" *ngFor="let item of shippings;let i = index">
                <div class="col-6 logis-name">
                  {{item.name}}
                </div>
                <div class="col-6 logis-price">
                  <div *ngIf="item.isEdit" class="row">
                    <div class="col-6">
                      <mat-form-field>
                        <input name="fillShippingPrice" matInput placeholder="ระบุค่าจัดส่ง" type="number" [(ngModel)]="item.shippingfee">
                      </mat-form-field>
                    </div>

                    <div class="col-3 ic-1 ic-center ic-green">
                      <mat-icon name="buttonSubmitShipping" (click)="submitShipping(i)">check</mat-icon>
                    </div>
                    <div class="col-3 ic-1 ic-center ic-red">
                      <mat-icon name="buttonCancelShipping" (click)="cancelShiping(i)">clear</mat-icon>
                    </div>

                  </div>
                  <div *ngIf="!item.isEdit">
                    ฿{{item.shippingfee ? item.shippingfee : 0 }} <span class="logis-ic">
                      <mat-icon name="buttonEditShipping" class="add-cus ic-orange" (click)="toggleEditShippingPrice(i)">create</mat-icon>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-3 sub-row" *ngIf="shippings.length > 0">

        </div>
        <div class="col-9">
          <div class="logis-label-2">
            การจัดส่งของฉัน
          </div>
          <div class="row">
            <div class="col-12 logis-box">
              <form>
                <div name="divNgForLogistics" class="row" *ngFor="let item of resData.logistics;let i = index">
                  <div class="col-6 logis-name">
                    {{item.name}}
                  </div>
                  <div class="col-4 logis-price">
                    <!-- ระบุค่าจัดส่ง -->
                  </div>
                  <div class="col-2">

                    <mat-slide-toggle name="buttonCheckShipping" [checked]="item.isChecked" name="{{item._id}}" (change)="shippingChange($event,item)"></mat-slide-toggle>

                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-0 col-sm-2 col-md-3"></div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-12 col-md-12">
      อื่นๆ
    </div>
  </div>

  <div class="row">
    <div class="col-0 col-sm-2 col-md-3"></div>
    <div class="col-12 col-sm-8 col-md-6">

      <div class="row">
        <div class="col col-4">
          เตรียมส่งนานกว่าปกติ
        </div>
        <div class="col col-2">
          <mat-slide-toggle name="lateShipping" [(ngModel)]="prepare"></mat-slide-toggle>
        </div>
        <div class="col col-6 text-remark" *ngIf="!prepare">
          ฉันจะจัดส่งสินค้าภายใน 2 วัน (ไม่รวมวันหยุดนักขัตฤกษ์และวันหยุดทำการของบริษัทขนส่ง)
        </div>
        <div class="col col-6 text-remark" *ngIf="prepare">
          <div>
            <mat-form-field>
              <input name="shippingDate" matInput placeholder="เวลาจัดเตรียมพัสดุ (วัน)" type="number" [(ngModel)]="data.prepareshipping">
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col col-3 sub-row">
          สภาพ
        </div>
        <div class="col col-3 text-center">
          <div>
            <mat-form-field>
              <mat-select name="newProduct" value="ของใหม่" [(ngModel)]="data.condition">
                <mat-option value="ของใหม่">
                  ของใหม่
                </mat-option>
                <mat-option name="oldProduct" value="ของมือสอง">
                  ของมือสอง
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>

    </div>
    <div class="col-0 col-sm-2 col-md-3"></div>
  </div>

  <div class="row">
    <div class="col-12 center">
      <button  name="buttonSaveProduct" mat-flat-button color="primary" [disabled]="!(images.length > 0 && data.name && data.detail && data.condition && stateSubmenu.length > 0 && !isValidWholsale && shippings.length > 0 && (price || optionBoxs.length > 0))"
        (click)="save()">บันทึก</button>
      <button name="buttonDeleteProduct" *ngIf="product_id" mat-flat-button class="mgt-l" color="gay" (click)="deleteProduct()">ลบ</button>
    </div>
  </div>


</div>