<div class="wrapper content">
  <div class="row">
    <div class="col-12">
      <h2>รูปภาพสินค้า</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-10 col-sm-10 col-md-10">
      <p class="header-description">เริ่มจากการอัพโหลดรูปภาพของคุณ ทิปการถ่ายรูปให้สินค้าน่าสนใจ
        กรุณาถ่ายรูปสินค้าให้ชัดเจนด้วยพื้นหลังสีขาว
        และอัพหลายๆรูปเพื่อสามารถดูได้หลายๆมุม</p>
    </div>
    <div class="col-2 col-sm-2 col-md-2 txt-right">
      <p class="header-description">{{images.length}}/9 รูปภาพ</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-4 col-md-2" *ngFor="let item of images;let i = index">
      <div class="contrain">
        <div class="tools">
          <!-- <div class="crop">
            <mat-icon>crop</mat-icon>
          </div> -->
          <div class="remove" (click)="deleteImg(i)">
            <mat-icon>delete</mat-icon>
          </div>
        </div>
        <img [src]="item.url" alt="image" class="product-img">
        <div *ngIf="i === 0" class="title">
          รูปภาพปก
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-4 col-md-2" *ngIf="images.length < 9">
      <div class="fix-col" (click)="uploadImg()">
        <p>
          <button mat-fab color="primary">
            <mat-icon>add</mat-icon>
          </button>
        </p>
        <p class="add-txt">เพิ่มรูปภาพใหม่</p>
      </div>
    </div>

    <input type="file" #productImg accept="image/*" [(ngModel)]="productImgModel" (change)="onProductImgChange($event)"
      style="visibility: hidden;">
  </div>

  <div class="row">
    <div class="col-12 col-sm-12 col-md-12">
      ข้อมูลทั่วไป
    </div>
  </div>

  <div class="row">
    <div class="col-0 col-sm-2 col-md-3"></div>
    <div class="col-12 col-sm-8 col-md-6">
      <div class="row">
        <div class="col col-12 text-center">
          <div>
            <mat-form-field>
              <input matInput placeholder="ชื่อสินค้า" type="text" [(ngModel)]="data.name" required>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <textarea matInput rows="4" placeholder="รายละเอียดสินค้า" [(ngModel)]="data.detail"></textarea>
            </mat-form-field>
          </div>
          <div class="row">
            <div [className]="toggleSubMenu ? 'col-12 box-select expan' : 'col-12 box-select'" (click)="expansubMenu()">
              <div class="ar-down">
                <mat-icon>keyboard_arrow_down</mat-icon>
              </div>
              <span *ngFor="let state of stateSubmenu;let i = index">{{state.name}} <span *ngIf="stateSubmenu.length !== i + 1">
                  > </span> </span>
              <span *ngIf="stateSubmenu.length <= 0">เลือกหมวดหมู่</span>
              <div class="row" *ngIf="toggleSubMenu">
                <div class="col-4">
                  <div class="row box-submenu">
                    <div class="col-12" *ngFor="let item of resData.categories">
                      <div class="row sub-menu" (click)="expanChildren(0,item)">
                        <div class="col-11">
                          {{item.name}}
                        </div>
                        <div class="col-1" *ngIf="item.children.length > 0">
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- //for loop -->
                <div class="col-4" *ngFor="let state of stateSubmenu;let i = index">
                  <div class="row box-submenu">
                    <div class="col-12" *ngFor="let item of state.items">
                      <div class="row sub-menu" (click)="expanChildren(i+1,item)">
                        <div class="col-11">
                          {{item.name}}
                        </div>
                        <div class="col-1" *ngIf="item.children.length > 0">
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <mat-form-field>
              <mat-select value="" [(ngModel)]="data.category_id">
                <mat-option value="">
                  เลือกหมวดหมู่
                </mat-option>
                <mat-option value="{{item._id}}" *ngFor="let item of resData.categories">
                  {{item.name}}
                </mat-option>
              </mat-select>
            </mat-form-field> -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-0 col-sm-2 col-md-3"></div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-12 col-md-12">
      ราคาและคลัง
    </div>
  </div>

  <div class="row">
    <div class="col-0 col-sm-2 col-md-3"></div>
    <div class="col-12 col-sm-8 col-md-6">
      <div class="row">
        <div class="col col-12 text-center">
          <div *ngIf="!isOptions">
            <mat-form-field>
              <input matInput placeholder="ราคา" [(ngModel)]="price" type="number" required>
            </mat-form-field>
          </div>
          <div *ngIf="!isOptions">
            <mat-form-field>
              <input matInput placeholder="คลัง" type="number" [(ngModel)]="stock" required>
            </mat-form-field>
          </div>

          <div *ngIf="isOptions">


            <div class="row mgt" *ngIf="isShowMainOption1">
              <div class="col-2 col-sm-2 col-md-2 txt-left">
                ตัวเลือกที่ 1
              </div>
              <div class="col-10 col-sm-10 col-md-10 options-ctn">
                <div class="del-btn">
                  <mat-icon>close</mat-icon>
                </div>
                <div>
                  <mat-form-field>
                    <input matInput placeholder="ใส่ชื่อตัวเลือก เช่นสี ไซส์..." [(ngModel)]="nameOption1" type="text"
                      required>
                  </mat-form-field>
                </div>
                <div *ngIf="stockType[0].items.length > 0">
                  <div *ngFor="let item of stockType[0].items">
                    <div class="sub-del-btn">
                      <mat-icon>close</mat-icon>
                    </div>
                    <mat-form-field>
                      <input matInput placeholder="ใส่ข้อมูลตัวเลือก เช่นสีแดง สีขาว..." [(ngModel)]="item.name" type="text" required>
                    </mat-form-field>
                  </div>
                </div>

                <div class="btn-option" (click)="addSubOption1()">
                  <mat-icon class="add-cus">add</mat-icon> เพิ่มตัวเลือก {{stockType[0].items.length }}/20
                </div>
              </div>
            </div>

            <div class="row mgt" *ngIf="isShowMainOption2">
              <div class="col-2 col-sm-2 col-md-2 txt-left">
                ตัวเลือกที่ 2
              </div>
              <div class="col-10 col-sm-10 col-md-10 options-ctn">
                <div class="del-btn">
                  <mat-icon>close</mat-icon>
                </div>
                <div>
                  <mat-form-field>
                    <input matInput placeholder="ใส่ชื่อตัวเลือก เช่นสี ไซส์..." [(ngModel)]="nameOption2" type="text"
                      required>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field>
                    <input matInput placeholder="ใส่ข้อมูลตัวเลือก เช่นสีแดง สีขาว..." [(ngModel)]="subOption2" type="text"
                      required>
                  </mat-form-field>
                </div>
                <div>
                  <div class="sub-del-btn">
                    <mat-icon>close</mat-icon>
                  </div>
                  <mat-form-field>
                    <input matInput placeholder="ใส่ข้อมูลตัวเลือก เช่นสีแดง สีขาว..." type="text" required>
                  </mat-form-field>
                </div>
                <div class="btn-option">
                  <mat-icon class="add-cus">add</mat-icon> เพิ่มตัวเลือก 0/20
                </div>
              </div>
            </div>

          </div>

          <div class="btn-option" (click)="showOption(1)" *ngIf="!isShowMainOption1">
            <mat-icon class="add-cus">add</mat-icon> เพิ่มตัวเลือกสินค้า
          </div>

          <div class="btn-option" (click)="showOption(2)" *ngIf="isShowMainOption1 && !isShowMainOption2">
            <mat-icon class="add-cus">add</mat-icon> เพิ่มตัวเลือกสินค้า
          </div>

        </div>
      </div>
    </div>
    <div class="col-0 col-sm-2 col-md-3"></div>
  </div>
  <!-- //ตาราง -->
  <div class="row" *ngIf="isShowMainOption1">
    <div class="col-2 col-sm-2 col-md-2"></div>
    <div class="col-10 col-sm-10 col-md-10">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="name1" *ngIf="isShowCol1">
          <th mat-header-cell *matHeaderCellDef> {{nameOption1 ? nameOption1 : 'ชื่อ'}} </th>
          <td mat-cell *matCellDef="let element"> {{element.name1}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name2" *ngIf="isShowCol2">
          <th mat-header-cell *matHeaderCellDef> {{nameOption2 ? nameOption2 : 'ชื่อ'}} </th>
          <td mat-cell *matCellDef="let element"> {{element.name2}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> ราคา </th>
          <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="stock">
          <th mat-header-cell *matHeaderCellDef> คลัง </th>
          <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>

  <!-- wholesale -->

  <div class="row" *ngIf="isShowMainOption1">
    <div class="col-2 col-sm-2 col-md-2"></div>
    <div class="col-10 col-sm-10 col-md-10">
      <div class="row">
        <div class="col-2">
          ขายส่ง
        </div>
        <div class="col-10 contanner-wholsale">
          <div class="row">
            <div class="col-4">

            </div>
            <div class="col-2">
              ต่ำสุด
            </div>
            <div class="col-2">
              สูงสุด
            </div>
            <div class="col-2">
              หน่วยราคา
            </div>
            <div class="col-2">

            </div>
          </div>
          <!-- ///// dynamic input -->
          <div class="row" *ngFor="let item of wholesaleList;let i = index">
            <div class="col-4 sale-txt">
              {{i + 1}}. ช่วงราคา {{i + 1}}
            </div>
            <div class="col-2">
              <mat-form-field>
                <input matInput placeholder="ต่ำสุด" [(ngModel)]="item.min" type="number">
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field>
                <input matInput placeholder="สูงสุด" [(ngModel)]="item.max" type="number">
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field>
                <input matInput placeholder="฿ หน่วยราคา" [(ngModel)]="item.price" type="number">
              </mat-form-field>
            </div>
            <div class="col-2" (click)="delWholesale(i)">
              <div class="circle-box">
                <mat-icon class="ic-position">minimize</mat-icon>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="box-btn" (click)="addWholesale()">
                <mat-icon class="ic-position">add_circle_outline</mat-icon> <span class="txt-icon">เพิ่มช่วงราคา</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-12 col-md-12">
      การจัดส่ง
    </div>
  </div>

  <div class="row">
    <div class="col-0 col-sm-2 col-md-3"></div>
    <div class="col-12 col-sm-8 col-md-6">
      <div class="row">
        <div class="col col-3 sub-row">
          น้ำหนัก
        </div>
        <div class="col col-3 text-center">
          <div>
            <mat-form-field>
              <input matInput placeholder="น้ำหนัก kg" [(ngModel)]="data.weight" type="number">
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col col-3 sub-row">
          ขนาดพัสดุ
        </div>
        <div class="col col-3 text-center">
          <div>
            <mat-form-field>
              <input matInput placeholder="กว้าง cm" type="number" [(ngModel)]="data.width">
            </mat-form-field>
          </div>
        </div>
        <div class="col col-3 text-center">
          <div>
            <mat-form-field>
              <input matInput placeholder="ยาว cm" type="number" [(ngModel)]="data.itemlength">
            </mat-form-field>
          </div>
        </div>
        <div class="col col-3 text-center">
          <div>
            <mat-form-field>
              <input matInput placeholder="สูง cm" type="number" [(ngModel)]="data.height">
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-3 sub-row">
          ค่าจัดส่ง
        </div>
        <div class="col-9">
          <div class="logis-label">
            เปิดการใช้งาน
          </div>
          <div class="row">
            <div class="col-12 logis-box">
              <div class="row" *ngFor="let item of shippings;let i = index">
                <div class="col-6 logis-name">
                  {{item.name}}
                </div>
                <div class="col-6 logis-price">
                  <div *ngIf="item.isEdit" class="row">
                    <div class="col-8">
                      <mat-form-field>
                        <input matInput placeholder="ระบุค่าจัดส่ง" type="number" [(ngModel)]="item.shippingfee">
                      </mat-form-field>
                    </div>

                    <div class="col-2 ic-1">
                      <mat-icon (click)="submitShipping(i)">check</mat-icon>
                    </div>
                    <div class="col-2 ic-1">
                      <mat-icon (click)="cancelShiping(i)">clear</mat-icon>
                    </div>

                  </div>
                  <div *ngIf="!item.isEdit">
                    ฿{{item.shippingfee ? item.shippingfee : 0 }} <span class="logis-ic">
                      <mat-icon class="add-cus" (click)="toggleEditShippingPrice(i)">create</mat-icon>
                    </span>
                  </div>
                </div>
                <!-- <div class="col-2">
                  <mat-slide-toggle [(ngModel)]="item.isChecked"></mat-slide-toggle>
                </div> -->
              </div>
            </div>
          </div>
        </div>

        <div class="col-3 sub-row">

        </div>
        <div class="col-9">
          <div class="logis-label-2">
            การจัดส่งของฉัน
          </div>
          <div class="row">
            <div class="col-12 logis-box">
              <form>
                <div class="row" *ngFor="let item of resData.logistics;let i = index">
                  <div class="col-6 logis-name">
                    {{item.name}}
                  </div>
                  <div class="col-4 logis-price">
                    <!-- ระบุค่าจัดส่ง -->
                  </div>
                  <div class="col-2">

                    <mat-slide-toggle [checked]="item.isChecked" name="{{item._id}}" (change)="shippingChange($event,item)"></mat-slide-toggle>

                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-0 col-sm-2 col-md-3"></div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-12 col-md-12">
      อื่นๆ
    </div>
  </div>

  <div class="row">
    <div class="col-0 col-sm-2 col-md-3"></div>
    <div class="col-12 col-sm-8 col-md-6">

      <div class="row">
        <div class="col col-4">
          เตรียมส่งนานกว่าปกติ
        </div>
        <div class="col col-2">
          <mat-slide-toggle [(ngModel)]="prepare"></mat-slide-toggle>
        </div>
        <div class="col col-6 text-remark" *ngIf="!prepare">
          ฉันจะจัดส่งสินค้าภายใน 2 วัน (ไม่รวมวันหยุดนักขัตฤกษ์และวันหยุดทำการของบริษัทขนส่ง)
        </div>
        <div class="col col-6 text-remark" *ngIf="prepare">
          <div>
            <mat-form-field>
              <input matInput placeholder="เวลาจัดเตรียมพัสดุ (วัน)" type="number" [(ngModel)]="data.prepareshipping">
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col col-3 sub-row">
          สภาพ
        </div>
        <div class="col col-3 text-center">
          <div>
            <mat-form-field>
              <mat-select value="ของใหม่" [(ngModel)]="data.condition">
                <mat-option value="ของใหม่">
                  ของใหม่
                </mat-option>
                <mat-option value="ของมือสอง">
                  ของมือสอง
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>

    </div>
    <div class="col-0 col-sm-2 col-md-3"></div>
  </div>

  <div class="row">
    <div class="col-12 center">
      <button mat-flat-button color="primary" (click)="save()">บันทึก</button>
    </div>
  </div>


</div>