.wrapper.content {
    background-color: #fff;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, .09);
    padding: 20px 48px;
}

.wrapper {
    width: auto;
    margin: 0 auto;
}

h2,
h3 {
    color: #666;
    font-weight: 400;
}

.header-description {
    position: relative;
    bottom: 12px;
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 12px;
    color: #8c8c8c;
}

.txt-right {
    text-align: right;
}

.image-move {
    background: center no-repeat;
    background-size: cover;
    width: auto;
    height: 300px;
    cursor: move;
}

.tools {
    position: absolute;
    right: 0;
}

.crop {
    width: 40px;
    height: 40px;
    background: rgba(101,106,210,.54);;
    text-align: center;
    border-radius: 50%;
    padding-top: 6px;
    color: #ffffff;
    cursor: pointer;
    position: absolute;
    right: 70px;
    margin-top: 10px;
}

.remove {
    width: 40px;
    height: 40px;
    background: rgba(255,87,34,.54);
    text-align: center;
    border-radius: 50%;
    padding-top: 6px;
    color: #ffffff;
    cursor: pointer;
    position: absolute;
    right: 16px;
    margin-top: 10px;
}

.title {
    height: 60px;
    background: rgba(0,0,0,.5);
    text-align: center;
    color: #ffffff;
    position: absolute;
    width: 94.5%;
    margin-top: -3.7rem;
    padding: 1.2rem;
}

.contrain {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.fix-col {
    border: dotted;
    border-color: #a9a9a9;
    height: 300px;
    position: relative;
    cursor: pointer;
}

.fix-col p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.add-txt {
    margin-top: 3rem !important;
    color: #ff9558;
    cursor: pointer;
}