/* // ของหน้า info-shop-category // */

.setting-font-header {
    font-size: 20px;
}

.padding-left {
    padding-left: 15px !important;
}

.font-cate {
    font-size: 15px;
    color: rgb(199, 199, 199);
}

.img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.padding-top {
    padding-top: 50px !important;
}

.padding-bottom {
    padding-bottom: 50px !important;
}

.setting-toggle {
    position: relative;
    top: 10px;
}

/* // ของหน้า shop-category // */

.bg-card-icon {
    background-color: #4CAF50;
    width: 45px;
    height: 45px;
}

.bg-card-icon1 {
    background-color: orangered;
    width: 45px;
    height: 45px;
}

.setting-icon-look {
    width: 35px;
    height: 35px;
    position: relative;
    top: -10px;
    left: -11px;
}

.setting-icon-hide {
    width: 35px;
    height: 35px;
    position: relative;
    top: -10px;
    left: -11px;
}

.setting-text-header1 {
    position: relative;
    top: -45px;
    left: 60px;
    font-size: 20px
}

.setting-text-header2 {
    position: relative;
    top: -65px;
    left: 60px;
    color: lightgrey;
    font-size: 15px;
}

.setting-div-header {
    position: relative;
    left: 50px;
}

.setting-mat-card {
    height: 500px;
}

.setting-icon-responsive {
    width: 150px;
    height: 150px;
}

.setting-text-body1 {
    color: grey;
    font-size: 15px;
}

.setting-btn-add-cat {
    height: 50px !important;
    width: 90% !important;
}

.setting-btn-text-add-cat {
    font-size: 15px;
}

.setting-bnt-rename {
    width: 1px;
    height: 20px;
    position: relative;
    top: 9px;
}

.setting-bnt-text-rename {
    font-size: 10px;
    position: relative;
    top: -8px;
    left: -5px;
    color: grey
}

.setting-text-set-cat {
    color: grey !important;
    font-size: 15px !important;
    position: relative;
    top: -12px;
}

.setting-text-set-amount {
    color: grey !important;
    font-size: 15px !important;
    position: relative;
    top: -25px;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: rgb(255, 255, 255);
    /*replace with your color*/
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #00C853;
    /*replace with your color*/
}

::ng-deep .mat-fab.mat-accent,
.mat-flat-button.mat-accent,
.mat-mini-fab.mat-accent,
.mat-raised-button.mat-accent {
    background-color: #ffffff;
}

.setting-icon-del {
    color: grey;
    position: relative;
    top: -3px;
}

.setting-toggle {
    position: relative;
    top: 10px;
}

.setting-div-header {
    height: 100px !;
}

.border-list-cat {
    /* border-bottom: solid lightgrey 1px ;
    border-top:  solid lightgrey 1px ; */
}

.setting-div-header {
    padding-bottom: 0px !important;
}

.setting-card {
    /* height: 100%; */
}

.no-padding-div {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.size-div-header {
    height: 90px !important;
}

.border-seach {
    border-radius: 10px !important;
}

.padding-right {
    padding-right: 5px !important;
}

.img-product {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.font-price {
    font-size: 12px !important;
}

.text-right {
    text-align: right;
}

.padding-left1 {
    padding-left: 50px !important;
}

.padding-right1 {
    padding-right: 50px !important;
}

.pointer {
    cursor: pointer;
}

.search-ic {
    position: absolute;
    right: 0;
    bottom: 2px;
    color: #9f9f9f;
}

.un-select {
    color: #c0c0c0;
    cursor: pointer;
}

.font-name {
    font-size: 13px !important;
    color: #202020;
    font-weight: bold;
}

.card-height {
    border-radius: 11px;
    height: 150px;
}

.buttonAdd {
    /* position: absolute;
    bottom: 10px; */
}

.text-nowrap {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.card-product {
    padding: 8px 12px 8px 12px !important;
}

.margin-left {
    margin-left: 10px !important;
}

.font-text {
    font-size: 12px !important;
    color: rgb(114, 114, 114) !important;
}

.done-size {
    width: 10px !important;
    height: 10px !important;
}
.border-radius{
    border-radius: 30 px !important;
}