<mat-card>
  <div class="row">
    <div class="col-12 col-md-6 padding-left">
      <p>
        <!-- <b>{{item.name}}</b> &nbsp; -->
        <b class="setting-font-header">ปากกา</b> &nbsp;
        <button mat-stroked-button class="setting-bnt-rename"><span class="setting-bnt-text-rename">เปลี่ยนชื่อ</span></button>
      </p>
      <p class="setting-text-set-cat">กำหนดหมวดหมู่สินค้าเอง</p> 
      <p class="setting-text-set-amount">รายการสินค้า 0 รายการ</p> 
    </div>
    <div class="col-12 col-md-4">
      <p>เปิดการใช้งานเพื่อให้ผู้ใช้มองเห็นหมวดหมู่นี้</p>
    </div>
    <div class="col-2">
      <p>asd</p>
    </div>
  </div>
</mat-card>