<div class="row no-padding">
  <div class="col-sm-12 col-md-1 col-lg-1 col-xl-1 no-padding">

  </div>
  <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10">
    <button name="btnBack" mat-stroked-button class="buttonAdd border-radius" (click)="onBack()" color="primary">ย้อนกลับ</button>

    <div class="row padding">
      <div class="col-12">
        <mat-card>
          <div class="row">
            <div class="col-12 col-md-7 padding-left" *ngIf="!isEdit">
              <p>
                <b class="setting-font-header">{{categoryData.name}}</b> &nbsp;
                <button name="changeName" mat-stroked-button (click)='isEdit = true' class="setting-bnt-rename"><span class="setting-bnt-text-rename">เปลี่ยนชื่อ</span></button>
              </p>
              <p class="setting-text-set-cat">กำหนดหมวดหมู่สินค้าเอง <span class="padding-left"> รายการสินค้า {{categoryData.items.length}}  รายการ</span></p>

            </div>
            <div class="col-12 col-md-7 padding-left" *ngIf="isEdit">
              <div class="col-12">
                <div class="row padding">
                  <div class="col-12 col-md-4 col-lg-4">
                    <mat-form-field class="example-full-width">
                      <input name="createNameCate" [(ngModel)]="categoryData.name" type="text" matInput placeholder="ตั้งชื่อหมวดหมู่เอง"
                        required>
                    </mat-form-field>
                  </div>
                  <div class="col-12 col-md-2 col-lg-2">
                    <button name="saveNameCate" style="width: 100%" (click)="onSaveData()" mat-stroked-button class="setting-bnt-rename"><span
                        class="setting-bnt-text-rename">บันทึก</span></button>
                  </div>
                  <div class="col-12 col-md-2 col-lg-2">
                    <button name="cancelNameCate" style="width: 100%" mat-stroked-button (click)='isEdit = !isEdit' class="setting-bnt-rename"><span
                        class="setting-bnt-text-rename">ยกเลิก</span></button>
                  </div>
                  <p class="setting-text-set-cat">กำหนดหมวดหมู่สินค้าเอง <span class="padding-left"> รายการสินค้า 0
                      รายการ</span></p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 text-center font-cate">
              เปิดการใช้งานเพื่อให้ผู้ใช้มองเห็นหมวดหมู่นี้
            </div>
            <div class="col-2 col-md-1">
              <mat-slide-toggle name="openUseCate" [disabled]="!categoryData.name || (categoryData.items && categoryData.items.length === 0)"
                [(ngModel)]="categoryData.status" class="setting-toggle" (ngModelChange)="onChangeStatus()"></mat-slide-toggle>
            </div>


            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
              <div class="padding-bottom padding-top">

                <div class="row padding" *ngIf="this.categoryData.items && this.categoryData.items.length > 0">

                  <div class="col-12 col-md-6 col-lg-6  " *ngFor="let item of this.categoryData.items; let i = index;">
                    <div class="col-12">
                      <mat-card class="card-product">
                        <div class="row">

                          <div class="col-12 col-md-3 col-lg-3 text-center padding-right ">
                            <img class="img-product" *ngIf="item.image && item.image.url " [src]="item.image.url">
                          </div>
                          <div class="col-12 col-md-9 col-lg-9">
                            <p class="no-margin font-name text-nowrap"> {{item.name}} </p>
                            <p class="no-margin font-price">฿ {{item.pricetext || 0}}
                          </div>

                          <div class="col-12 col-md-12 col-lg-12 text-center ">
                            <button name="deleteProduct" mat-stroked-button class="buttonAdd" (click)="deleteItem(i,item)" color="primary">ลบสินค้า</button>
                          </div>

                        </div>
                      </mat-card>

                    </div>
                  </div>

                </div>
                <div *ngIf="!categoryData || (categoryData.items && categoryData.items.length === 0)">
                  <img class="img" src="./assets/imgs/productLogo.png">

                </div>
              </div>

              <div class="row">

                <div class="col-12 text-center padding-top" *ngIf="checkLogProductChange()">
                  <div class="row">
                    <div class="col-12 col-md-12 col-lg-12">
                      <span class="font-text">หลังจากบันทึกการเปลี่ยนแปลงแล้วสินค้าจะเรียงตามเวลาของการแก้ไขล่าสุด</span>

                    </div>
                    <div class="col-12 col-md-12 col-lg-12">
                      <button name="saveCate" mat-button class="buttonAdd" (click)="onSaveData()" color="primary">บันทึกการเปลี่ยนแปลง</button>
                      <button name="cancelBtn" mat-stroked-button class="buttonAdd margin-left" (click)="onRollbackItems()">ยกเลิก</button>
                    </div>
                  </div>
                </div>

                <div class="col-12 text-center padding-top" *ngIf="categoryCompele && !categoryData.status">
                  <div class="row">
                    <div class="col-12 col-md-12 col-lg-12">
                      <span class="font-text">หมวดหมู่สินค้าของคุณกำลังปิดการใช้งานอยู่ขณะนี้
                        เปิดการใช้งานเพื่อให้ผู้ซื้อสามารถมองเห็นหมวดหมู่ของคุณหรือไม่?</span>

                    </div>
                    <div class="col-12 col-md-12 col-lg-12">
                      <button name="openNow" mat-button class="buttonAdd" (click)="onUpdateOpenCategory()" color="primary">เปิดการใช้งานตอนนี้</button>
                      <button name="cancelNow" mat-stroked-button class="buttonAdd margin-left" (click)="categoryCompele = false">ยกเลิก</button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
              <div class="padding-bottom padding-top">
                <button mat-stroked-button color="primary">เพิ่มสินค้า</button>
              </div>
            </div> -->
          </div>
        </mat-card>
      </div>

      <div class="col-12">
        <mat-card>
          <div class="row padding">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
              <div class="row">
                <div class="col-12 col-md-4 col-sm-4">

                </div>
                <div class="col-12 col-md-4 col-sm-4">
                  <mat-form-field>
                    <mat-icon class="search-ic">search</mat-icon>
                    <input name="searchProduct" matInput placeholder="ค้นหา" [(ngModel)]="page.name" (keydown)="onSearch($event)">
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-4 col-sm-4">

                </div>
              </div>
            </div>

          </div>


          <div class="col-12 col-md-12 col-lg-12">
            <div class="row padding">

              <div class="col-12 col-md-6 col-lg-6  " *ngFor="let item of getProduct">
                <div class="col-12">
                  <mat-card class="card-product">

                    <div class="row">

                      <div class="col-12 col-md-3 col-lg-3 text-center padding-right ">
                        <img class="img-product" *ngIf="item.image && item.image.url" [src]="item.image.url">
                      </div>
                      <div class="col-12 col-md-9 col-lg-9">
                        <p class="no-margin font-name text-nowrap"> {{item.name}} </p>
                        <p class="no-margin font-price">฿ {{item.pricetext}}</p>
                      </div>

                      <div class="col-12 col-md-12 col-lg-12 text-center ">
                        <div *ngIf="checkButtonAdd(item)">
                          <mat-icon name="addProduct" class="done-size" svgIcon="done"></mat-icon> <span class="font-text">เพิ่มสินค้าแล้ว</span>
                        </div>
                        <button name="btnAddProduct" *ngIf="!checkButtonAdd(item)" mat-stroked-button class="buttonAdd" (click)="selectedItem(item)"
                          color="primary">เพิ่มสินค้า</button>
                      </div>

                    </div>
                  </mat-card>

                </div>
              </div>
            </div>

          </div>

          <!-- <div class="text-center" >
            <button  mat-flat-button color="primary" class="btn-summit select" style="margin: 5px;" *ngIf="page.page > 1"
              (click)="previos()">ก่อนหน้า</button>
            <button mat-flat-button color="primary" ngClass="{{page.page === (i + 1) ? 'select' : 'un-select'}}"
               *ngFor="let item of tabs;let i = index" (click)="pageData(item)">{{item}}</button>
            <button mat-flat-button color="primary" class="btn-summit select"  *ngIf="page.page < tabs.length"
              (click)="next()">ต่อไป</button>
          </div> -->

        </mat-card>
      </div>
    </div>
  </div>



  <div class="
                    col-sm-12 col-md-1 col-lg-1 col-xl-1 no-padding">

  </div>

</div>