<div class="row scroll">
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 pidding-left2">
        <b>บัญชีธนาคาร</b>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
    <div class="row">

      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 pidding-left2">
        <p class="font-size1 ">คุณแน่ใจว่าต้องการลบหรือไม่?</p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="row">
          <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">

          </div>
          <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
            <mat-card class="card-height text-center">
              <img *ngIf="showDetail.bank && showDetail.bank.image" class="image" [src]="showDetail.bank.image" alt="bank-icon">
              <br>
              <br>
              <p class="no-margin">{{showDetail.accountnumber}}
                <br>
                <span>{{showDetail.accountname}}</span>
              </p>
            </mat-card>
          </div>

          <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">

          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="row">
      <div class="col-xs-2 col-sm-12 col-md-2 col-lg-2 col-xl-2 pidding-left2 pidding-right">
        <button name="confirm" style="width:100%" (click)="delete()" mat-button color="primary">ยืนยัน</button>
      </div>
      <div class="col-xs-2 col-sm-12 col-md-2 col-lg-2 col-xl-2 pidding-left2 pidding-right">
        <button name="cancel" style="width:100%" mat-stroked-button mat-dialog-close>ยกเลิก</button>
      </div>
    </div>


  </div>
</div>