<mat-card>
  <div class="row">
    <div class="col-8">
      <div class="box">
        <p>
          <mat-icon>list_alt</mat-icon> หมายเลขคำสั่งซื้อ
        </p>
        <p class="data-color">1234567890</p>
        <p>
          <mat-icon>room</mat-icon> ที่อยู่ในการจัดส่ง
        </p>
        <p class="data-color">คนึง โฮกเส็ง, 0938475638</p>
        <p class="data-color">66/4 หมู่ 3 ต.หนองผักแว่น อ.ท่าหลวง จ.ลพบุรี 15230</p>
        <p>
          <mat-icon>local_shipping</mat-icon> ข้อมูลการจัดส่ง
        </p>
        <p class="data-color">Furnover Shipping</p>
      </div>

      <div class="box">
        <div>
          <img class="avatar" src="https://s3.eu-central-1.amazonaws.com/media.vinyl.ua/UserAvatar/user-f.png" alt="image">
          <span class="name">Dook Shop</span>
        </div>
        <div class="table-responsive mgt">
          <table class="table">
            <thead>
              <tr>
                <th width="20" class="center">#</th>
                <th width="600" class="center">สินค้าทั้งหมด</th>
                <th width="200" class="center">ราคาต่อชิน</th>
                <th width="200" class="center">จำนวน</th>
                <th width="200" class="center">ยอดรวม</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of [1,2,3]">
                <td class="center pd">{{item}}</td>
                <td><img class="image" src="https://cdn.homepro.co.th/catalog/1000000/447x447/1020753.jpg" alt="image">
                  โคมไฟตกแต่งบ้าน</td>
                <td class="center pd">1,000</td>
                <td class="center pd">3</td>
                <td class="center pd">3,000</td>
              </tr>
              <tr>
                <td colspan="4" class="txt-right"><b>รวมราคาสินค้า</b></td>
                <td class="txt-right">฿3,000</td>
              </tr>
              <tr *ngFor="let item of [1,2,3];let i = index">
                <td colspan="4" class="txt-right"><span *ngIf="i === 0"><b>ราคาสินค้า</b></span></td>
                <td class="txt-right">฿1,000</td>
              </tr>
              <tr>
                <td colspan="4" class="txt-right"><b>ส่วนลด</b></td>
                <td class="txt-right">฿100</td>
              </tr>
              <tr>
                <td colspan="4" class="txt-right"><b>โค๊ดส่วนลด</b></td>
                <td class="txt-right">฿0</td>
              </tr>
              <tr>
                <td colspan="4" class="txt-right"><b>ยอดชำระเงิน</b></td>
                <td class="txt-right">฿3,800</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="box bg">
        <div class="row">
          <div class="col-8">
            <mat-icon>attach_money</mat-icon> การชำระเงินของผู้ใช้
          </div>
          <div class="col-4 txt-right">
            ฿3,800
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <p>ประวัติการซื้อสินค้า</p>
    </div>
  </div>
</mat-card>