.text {
    text-align: right;
}

.example-full-width {
    width: 100%;
}

.txt-right {
    text-align: right;
}

.txt-left {
    text-align: left;
}

.btn-color {
    background-color: #b0b0b0 !important;
}

.padding-left {
    padding-left: 30px !important;
}