<!-- <mat-card class="example-card"> -->

  <div class="row">
    <div class="col-	col-sm-	col-md-11	col-lg-	col-xl-">
      เพิ่มที่อยู่ใหม่
    </div>
    <div class="col-	col-sm-	col-md-1	col-lg-	col-xl-"></div>
  </div>
  <br>
  <div class="row">
    <div class="col-	col-sm-	col-md-3	col-lg-	col-xl-">
      <div class="text">
        ชื่อ-นามสกุล
      </div>
    </div>
    <div class="col-	col-sm-	col-md-9	col-lg-	col-xl-">
      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="data.name" placeholder="ชื่อ-นามสกุล" value="">
      </mat-form-field>
    </div>

    <div class="col-	col-sm-	col-md-3	col-lg-	col-xl-">
      <div class="text">
        หมายเลขโทรศัพท์
      </div>
    </div>
    <div class="col-	col-sm-	col-md-9	col-lg-	col-xl-">
      <mat-form-field class="example-full-width">
        <input matInput type="number" [(ngModel)]="data.tel" placeholder="หมายเลขโทรศัพท์" value="">
      </mat-form-field>
    </div>

    <div class="col-	col-sm-	col-md-3	col-lg-	col-xl-">
      <div class="text">
        ที่อยู่
      </div>
    </div>
    <div class="col-	col-sm-	col-md-9	col-lg-	col-xl-">
      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="data.address" placeholder="บ้านเลขที่ อาคาร หมู่บ้าน ถนน" value="">
      </mat-form-field>
    </div>

    <div class="col-	col-sm-	col-md-3	col-lg-	col-xl-"></div>
    <div class="col-	col-sm-	col-md-9	col-lg-	col-xl-">
      <mat-form-field class="example-full-width">
        <mat-select placeholder="จังหวัด" [(ngModel)]="data.country">
          <mat-option>None</mat-option>
          <mat-option value="กรุงเทพ">กรุงเทพ</mat-option>
          <mat-option value="ปทุมธานี">ปทุมธานี</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-	col-sm-	col-md-3	col-lg-	col-xl-"></div>
    <div class="col-	col-sm-	col-md-9	col-lg-	col-xl-">
      <mat-form-field class="example-full-width">
        <mat-select placeholder="เขต/อำเภอ" [(ngModel)]="data.district">
          <mat-option>None</mat-option>
          <mat-option value="ดอนเมือง">ดอนเมือง</mat-option>
          <mat-option value="ลำลูกกา">ลำลูกกา</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-	col-sm-	col-md-3	col-lg-	col-xl-"></div>
    <div class="col-	col-sm-	col-md-9	col-lg-	col-xl-">
      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="data.subdistrict" placeholder="แขวง/ตำบล" value="">
      </mat-form-field>
    </div>
    <div class="col-	col-sm-	col-md-3	col-lg-	col-xl-"></div>
    <div class="col-	col-sm-	col-md-9	col-lg-	col-xl-">
      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="data.postcode" placeholder="รหัสไปรษรีย์" value="">
      </mat-form-field>
    </div>

    <div class="col-	col-sm-	col-md-3	col-lg-	col-xl-"></div>

  </div>

  <div class="row">
    <div class="col-	col-sm-	col-md-6	col-lg-	col-xl- txt-left">
      <div>
        <button  mat-raised-button disabled (click)="clickSave()">บันทึก</button>
      </div>
    </div>
    <div class="col-	col-sm-	col-md-6	col-lg-	col-xl- txt-right">
      <div>
        <button mat-stroked-button disabled [mat-dialog-close]>ยกเลิก</button>
    </div>

  </div>
<!-- </mat-card> -->