<mat-card class="example-card">

  <div class="row">
    <div class="col-	col-sm-	col-md-11	col-lg-	col-xl-">
      เพิ่มที่อยู่ใหม่
    </div>
    <div class="col-	col-sm-	col-md-1	col-lg-	col-xl-">
      X
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-	col-sm-	col-md-3	col-lg-	col-xl-">
      <div class="text">
        ชื่อ-นามสกุล
      </div>
    </div>
    <div class="col-	col-sm-	col-md-9	col-lg-	col-xl-">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="ชื่อ-นามสกุล" value="">
          </mat-form-field>
    </div>

    <div class="col-	col-sm-	col-md-3	col-lg-	col-xl-">
      <div class="text">
        หมายเลขโทรศัพท์
      </div>
    </div>
    <div class="col-	col-sm-	col-md-9	col-lg-	col-xl-">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="หมายเลขโทรศัพท์" value="">
          </mat-form-field>
    </div>

    <div class="col-	col-sm-	col-md-3	col-lg-	col-xl-">
      <div class="text">
        ที่อยู่
      </div>
    </div>
    <div class="col-	col-sm-	col-md-9	col-lg-	col-xl-">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="จังหวัด /เขต /ตำบล" value="">
          </mat-form-field>
    </div>

    <div class="col-	col-sm-	col-md-3	col-lg-	col-xl-"></div>
    <div class="col-	col-sm-	col-md-9	col-lg-	col-xl-">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="บ้านเลขที่ อาคาร หมู่บ้าน ถนน แขวง/ตำบล" value="">
          </mat-form-field>
    </div>

    <div class="col-	col-sm-	col-md-3	col-lg-	col-xl-"></div>
    <div class="col-	col-sm-	col-md-9	col-lg-	col-xl-">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="รหัสไปรษรีย์" value="">
          </mat-form-field>
    </div>

    <div class="col-	col-sm-	col-md-3	col-lg-	col-xl-"></div>
    
  </div>

  <div class="row">
    <div class="col-	col-sm-	col-md-3	col-lg-	col-xl-">
      <div class="text">
        <button mat-raised-button color="primary">อัพเดท</button>
      </div>
    </div>
    <div class="col-	col-sm-	col-md-9	col-lg-	col-xl-">
      <div>
        <button mat-raised-button color="primary">อัพเดท</button>
      </div>
    </div>

  </div>
</mat-card>