.text {
    text-align: right;
}

.example-full-width {
    width: 100%;
}

.txt-right {
    text-align: right;
}

.txt-left {
    text-align: left;
}

.btn-color {
    background-color: #b0b0b0 !important;
}

.padding {
    padding: 50px !important;
}

.mat-btn {
    background: #fff;
    color: rgba(171, 166, 166, 0.87);
}