.bg-card-icon {
    transition: none !important;
    box-shadow: none !important;
    /* background-color: #4CAF50; */
    width: 45px;
    height: 45px;
}

.bg-card-icon1 {
    transition: none !important;
    box-shadow: none !important;
    /* background-colorgb(3, 3, 3)red; */
    width: 45px;
    height: 45px;
}

.setting-icon-look {
    width: 45px;
    /* height: 35px; */
    /* position: relative;
    top: -15px;
    left: -17px; */
}

.setting-icon-hide {
    width: 45px;
    /* height: 35px; */
    /* position: relative;
    top: -15px;
    left: -17px; */
}

.setting-text-header1 {
    position: relative;
    top: -45px;
    left: 60px;
    font-size: 20px
}

.setting-text-header2 {
    position: relative;
    top: -65px;
    left: 60px;
    color: lightgrey;
    font-size: 15px;
}

.setting-div-header {
    position: relative;
    left: 50px;
}

.setting-mat-card {
    height: 500px;
}

.setting-icon-responsive {
    width: 150px;
    height: 150px;
}

.setting-text-body1 {
    color: grey;
    font-size: 15px;
}

.setting-btn-add-cat {
    height: 50px !important;
    width: 90% !important;
}

.setting-btn-text-add-cat {
    font-size: 15px;
}

.setting-bnt-rename {
    width: 1px;
    height: 20px;
    position: relative;
    top: 9px;
}

.setting-bnt-text-rename {
    font-size: 10px;
    position: relative;
    top: -8px;
    left: -5px;
    color: grey
}

.setting-text-set-cat {
    color: grey !important;
    font-size: 15px !important;
    position: relative;
    top: -12px;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: rgb(255, 255, 255);
    /*replace with your color*/
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #00C853;
    /*replace with your color*/
}

::ng-deep .mat-fab.mat-accent,
.mat-flat-button.mat-accent,
.mat-mini-fab.mat-accent,
.mat-raised-button.mat-accent {
    background-color: #ffffff;
}

.setting-icon-del {
    color: red;
    position: relative;
    top: -3px;
}

.setting-toggle {
    position: relative;
    top: 10px;
}

.setting-div-header {
    height: 100px !;
}

.border-list-cat {
    /* border-bottom: solid lightgrey 1px ;
    border-top:  solid lightgrey 1px ; */
}

.setting-div-header {
    padding-bottom: 0px !important;
}

.setting-card {
    /* height: 100%; */
}

.no-padding-div {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.card-padding-div {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.size-div-header {
    height: 90px !important;
}

.padding-left-div {
    padding-left: 30px !important;
}

.padding-left-card {
    padding-left: 60px !important;
    padding-right: 60px !important;
}

.size-card {
    height: 110px !important;
}

.border-list {
    /* border-bottom: solid 1px lightgray !important ; */
    border-top: solid 1px lightgray !important;
}

.position-list {
    position: relative;
    top: 15px;
}

.total {
    position: absolute;
    right: -5rem;
    font-size: 0.9rem;
    color: #656565;
    z-index: 999;
    top: 1rem;
}

.text-overflow-style {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}