<!-- <div class="card padding"> -->
<div class="row">
  <div class="col-lg-3 col-xl-3 col-xs-12 col-sm-12 col-md-12">
    <side-menu-setting-shop></side-menu-setting-shop>
  </div>
  <div class="col-lg-8">
    <div>
      <mat-card>
        <app-setting-header></app-setting-header>
        <div class="row">
          <div class="col-12 padding">
            <span class="total">ทั้งหมด <span name="itemCount">{{showDataBank.length
                ? showDataBank.length : 0 | number}}</span> รายการ</span>
            <h3>บัญชีธนาคาร</h3>
          </div>
        </div>
        <div class="row padding">
          <div name="buttonAddBank" class="col-12 col-md-6  col-lg-4 pointer" (click)="openDialog()">
            <div class="border item-center">
              <button mat-fab color="primary" class="btn-add">
                <mat-icon svgIcon="baseline-add"></mat-icon>
              </button>
              <p class="pointer text-add">เพิ่มบัญชีธนาคาร</p>
            </div>
          </div>
          <div name="divNgFor" class="col-12 col-md-6 col-lg-4 pointer" *ngFor="let item of showDataBank" (click)="openmodal(item)">
            <mat-card class="card-height text-center">
              <img *ngIf="item.bank && item.bank.image" class="image" [src]="item.bank.image" alt="bank-icon">
              <div class="padding-top">
                <p class="no-margin font-size2">
                  {{item.name}}
                  <br>
                  <span>{{item.accountnumber}}</span>
                  <br>
                  <span>{{item.accountname}}</span>
                </p>
              </div>

            </mat-card>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>