<!-- <div class="card padding"> -->
<mat-card>
  <div class="row ">
    <div class="col-md-12">
      <div class="col-lg-1 col-md-1 col-xl-1 col-sm-12">
      </div>
      <div class="col-lg-10 col-md-10 col-xl-10 col-sm-12">
        <div class="col-lg-12 col-md-12 col-xl-12 col-sm-12">
          <div class="row">
            <div class="col-lg-2 col-md-2 col-xl-2 col-sm-2 left3 text-center ">
              <button mat-fab color="primary">
                <div>
                  <mat-icon svgIcon="baseline-payment"></mat-icon>
                </div>
              </button>
            </div>
            <div class="col-lg-10 col-md-10 col-xl-10 col-sm-12 ">
              <h2 class="magin1">ข้อมูลบัญชีธนาคาร/บัตร</h2>
              <p class="color magin1">Manage your bank cards</p>
            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-1 col-md-1 col-xl-1 col-sm-12">
      </div>
    </div>

  </div>
  <div class="col-lg-12 col-md-12 col-xl-12 col-sm-12 top ">
  </div>
  <div class="row">
    <div class="col-lg-1 col-md-1 col-xl-1 col-sm-12 ">
    </div>
    <div class="col-lg-10 col-md-10 col-xl-10 col-sm-12  ">
      <div class="col-lg-12 col-md-12 col-xl-12 col-sm-12 padding-button">
        <h3>บัญชีธนาคาร</h3>
      </div>
      <div class="col-lg-1 col-md-1 col-xl-1 col-sm-12">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1 col-md-1 col-xl-1 col-sm-12 ">
    </div>
    <div class="col-lg-10 col-md-10 col-xl-10 col-sm-12">
      <div class="col-lg-12 col-md-12 col-xl-12 col-sm-12">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-xl-4 col-sm-4 border padding-top2">
            <div class=" col-lg-12 col-md-12 col-xl-12 col-sm-12  text-center magin-top">
              <button mat-fab class="bgcolor">
                <mat-icon svgIcon="baseline-add"></mat-icon>
              </button>
            </div>
            <div class=" text-center">
              <p>เพิ่มบัญชีธนาคาร</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-xl-4 col-sm-4 border1 padding-top2">
            <div class="card">
              <div class="col-lg-12 col-md-12 col-xl-12 col-sm-12   bgcolor2 padding-top2 padding-button2">
                <div class="row">
                  <div class="col-lg-2 col-md-2 col-xl-2 col-sm-12 text-center left3 padding-button2">
                    <img class="image" src="https://www.scbeasy.com/v1.4/site/presignon/mtrl/Image/Mobile%20App/SCB12_SCB_EASY_512x512px.png">
                  </div>
                  <div class="col-lg-10 col-md-10 col-xl-10 col-sm-12  text-center padding-button2">
                    <p class=" nopaddingleft padding-top3">ไทยพาณิชย์ (SCB)</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-xl-12 col-sm-12">
                <div class="row">
                  <div class="padding-right no-padding-right col-lg-6 col-md-6 col-xl-6 col-sm-12">
                    <button class="imgs bgcolor3 text-center" mat-fab>
                    </button>
                    <mat-icon  class="done text-center" svgIcon="baseline-done"></mat-icon>
                  </div>
                  <div class="text-center no-padding-left padding-button2 col-lg-6 col-md-6 col-xl-6 col-sm-12">
                    ตรวจสอบแล้ว
                  </div>
                  <div class=" text-center col-lg-12 padding-button2 col-md-12 col-xl-12 col-sm-12">
                    *** 0767
                  </div>
                  <div class="left3 padding-top2 padding-button2 magin1 text-center col-lg-12 col-md-12 col-xl-12 col-sm-12">
                    ณัฐพล
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-1 col-md-1 col-xl-1 col-sm-1 ">
    </div>
  </div>

  <!-- </div> -->

  <!-- </div> -->
  <!-- </div> -->
</mat-card>