.border {
    border-style: dashed;
    border-color: rgb(211, 211, 211);
    border-radius: 10px;
    height: 180px;
}

.card-height {
    border-radius: 10px;
    height: 180px;
}

.image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
}

.pointer {
    cursor: pointer;
}

.item-center {
    justify-content: center;
    align-items: center;
    display: flex;
}

.text-add {
    position: absolute;
    margin-top: 40px;
}

.btn-add {
    margin-top: -40px;
}