<!-- <div class="card padding"> -->
<mat-card>
    <div class="row padding-bottom">
        <div class="col-12">
          <button mat-fab color="primary">
            <mat-icon svgIcon="shipping"></mat-icon>
          </button>
          <div class="header position-text-header">
            <h4>
              การจัดส่งของฉัน
            </h4>
            <span class="font-color-grey font-size1 ">
              ตั้งค่าช่องทางการขนส่งและค่าขนส่ง
            </span>
          </div>
        </div>
      </div>
  <div class="row">
    <div class="col-12 padding">
      <h3>บัญชีธนาคาร</h3>
    </div>
  </div>
  <div class="row padding">
    <div class="col-12 col-md-6  col-lg-4 pointer" (click)="openDialog()">
      <div class="border item-center">
        <button mat-fab color="primary" class="btn-add">
          <mat-icon svgIcon="baseline-add"></mat-icon>
        </button>
        <p class="pointer text-add">เพิ่มบัญชีธนาคาร</p>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 pointer" *ngFor="let item of [1,2,3,4,5]">
      <mat-card class="card-height text-center">
        <img class="image" src="https://pbs.twimg.com/profile_images/924662185929752576/9cRHWYxV_400x400.jpg" alt="bank-icon">
        <br>
        <br>
        <p class="no-margin">1111 1587 **** 0767
          <br>
          <span>ณัฐพล</span>
        </p>
      </mat-card>
    </div>
  </div>
</mat-card>