.border {
    border-style: dashed;
    border-color: rgb(211, 211, 211);
    border-radius: 10px;
    height: 180px;
}

.card-height {
    border-radius: 10px;
    height: 180px;
}

.image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
}

.pointer {
    cursor: pointer;
}

.item-center {
    justify-content: center;
    align-items: center;
    display: flex;
}

.text-add {
    position: absolute;
    margin-top: 40px;
}

.btn-add {
    margin-top: -40px;
}

.padding-bottom {
    padding-bottom: 20px !important;
    border-bottom: 1px solid lightgray;
}

.header {
    display: inline-block !important;
}

.position-text-header {
    position: relative;
    top: 15px;
    left: 15px;
}

.font-color-grey {
    color: gray !important;
}

.font-size1 {
    font-size: 14px !important;
}

.font-size2 {
    font-size: 12px !important;
    
}
.padding-top{
    padding-top: 3% !important;
}