<mat-card class="container">
    <div class="promotion-setting-header-title row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <span>โปรโมชั่นส่วนลดของฉัน</span>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
            <mat-form-field>
                <mat-icon class="search-ic">search</mat-icon>
                <input matInput placeholder="ค้นหา">
            </mat-form-field>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
            <div class="text-center">
                <button mat-flat-button color="primary" class="btn-summit select" style="margin: 5px;">ก่อนหน้า</button>
            </div>
        </div>

    </div>

</mat-card>