<mat-card class="container">
    <div class="promotion-setting-header-title row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <span>โปรโมชั่นส่วนลดของฉัน</span>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
            <mat-form-field>
                <mat-icon class="search-ic">search</mat-icon>
                <input matInput placeholder="ค้นหา">
            </mat-form-field>
        </div>
        <div class="d-none d-sm-block d-md-block d-lg-block d-xl-block col-sm-6 col-md-6 col-lg-8 col-xl-8 text-right">
                <button mat-flat-button color="primary" ><mat-icon>add</mat-icon><span style="font-weight: bold;" class="padding-left">โปรโมชั่นส่วนลดใหม่</span></button>
        </div>
        <div class="d-block d-sm-none col-12">
                <button mat-flat-button color="primary" ><mat-icon>add</mat-icon><span style="font-weight: bold;" class="padding-left">โปรโมชั่นส่วนลดใหม่</span></button>
        </div>

    </div>

</mat-card>