.promotion-setting-header-title {
    font-size: 23px;
    // font-weight: 600;
}

.container  {
    max-width: 90% !important;
   
}

.search-ic {
    position: absolute;
    right: 0;
    bottom: 2px;
    color: #9f9f9f;
}