<mat-tab-group (selectedTabChange)="onLinkClick($event)">
  <mat-tab label="ทั้งหมด">

    <div *ngIf="showDelete" class="portal-panel">
      <div class="row">
        <div class="col-6 txt-left">
          <mat-checkbox class="ch_box" [(ngModel)]="checked" (change)="onselectAll($event)">เลือกทั้งหมด</mat-checkbox>
        </div>
        <div class="col-6 txt-right">
          <button mat-stroked-button color="primary" (click)="openDialog()">ลบ</button>
        </div>
      </div>
    </div>

    <div class="row padding">
      <div class="col-12 col-md-12 col-sm-12">
        สินค้า {{productData.products.length}} รายการ
      </div>
    </div>

    <div class="row padding">
      <div class="col-12 col-md-4 col-sm-4">
        <mat-form-field>
          <mat-icon class="search-ic">search</mat-icon>
          <input matInput placeholder="ค้นหา" [(ngModel)]="pageData.name" (keydown)="search($event)">
        </mat-form-field>
      </div>
      <!-- <div class="col-12 col-md-8 col-sm-8 txt-right">
        <ng-container *ngFor="let item of sortModel;let i = index">
          <span ngClass="{{this.sortIndex === item.sortId ? 'select' : 'un-select'}}" (click)="selectSortIndex(item,i)">{{item.sortName}}</span>&nbsp;
        </ng-container>
      </div> -->
    </div>

    <div class="row padding">
      <div class="col-12 col-md-2 col-sm-4" (click)="gotoCreateProduct()">
        <div class="fix-col">
          <p>
            <button mat-fab color="primary">
              <mat-icon>add</mat-icon>
            </button>
          </p>
          <p class="add-txt">เพิ่มสินค้า</p>
        </div>
      </div>

      <div class="col-12 col-md-2 col-sm-4 fix-col-2 mgt-1" *ngFor="let item of productData.products">
        <mat-card class="mat-card_cus">
          <!-- <div style="background: url('http://my-test-11.slatic.net/original/536fa036d0bc1e7a54e9496d75aa494f.jpg_720x720q80.jpg') no-repeat center center;background-size: cover;min-height: 12rem;"> -->
          <div style="background-size: cover;min-height: 12rem;">
            <img [src]="item.image.url" style="position: absolute;
                width: 100%;min-height: 12rem;object-fit: contain;">
            <mat-checkbox class="ch_box" [(ngModel)]="item.checked" (change)="checkboxOptions($event,item)"></mat-checkbox>
            <span *ngIf="item.iswholesale" style="right: 0;
            background-color: #00d0ff;
            position: absolute;
            color: white;
            padding-left: 2px;
            padding-right: 2px;
            font-size: 14px;
            border-radius: 3px;">ขายส่ง</span>

            <!-- <div class="product-item__badges">
              <div class="product-label new">
                <div class="badge-content">
                  <div class="text">ใหม่</div>
                </div><svg viewBox="-107 102 48 54">
                  <path d="M-107 102v54l24-6.8 24 6.8v-54z"></path>
                </svg>
              </div>
            </div> -->
          </div>
          <div class="padding">
            <p class="p-name">
              {{item.name}}
            </p>
            <div class="row">
              <div class="col-6 txt-price">
                {{item.pricetext}}
              </div>
              <div class="col-6 txt-right" style="font-size: 14px;">
                คลัง {{item.stock}}
              </div>
            </div>
            <!-- <div class="row fn-size">
              <div class="col-3 footer-card-txt">
                ดู 0
              </div>
              <div class="col-4 footer-card-txt">
                ถูกใจ 0
              </div>
              <div class="col-5 txt-right footer-card-txt">
                ยอดขาย 0
              </div>
            </div> -->
          </div>
        </mat-card>
      </div>
    </div>
    <div class="text-center" *ngIf="productData.products.length > 0">
      <button mat-flat-button color="primary" class="btn-summit select" style="margin: 5px;" *ngIf="pageData.page > 1"
        (click)="previos()">ก่อนหน้า</button>
      <button mat-flat-button color="primary" ngClass="{{pageData.page === (i + 1) ? 'select' : 'un-select'}} btn-summit"
        style="margin: 5px;min-width: unset;" *ngFor="let item of tabs;let i = index" (click)="page(item)">{{item}}</button>
      <button mat-flat-button color="primary" class="btn-summit select" style="margin: 5px;" *ngIf="pageData.page < tabs.length"
        (click)="next()">ต่อไป</button>
    </div>
  </mat-tab>
  <mat-tab label="ขายอยู่">

    <div *ngIf="showDelete" class="portal-panel">
      <div class="row">
        <div class="col-6 txt-left">
          <mat-checkbox class="ch_box" [(ngModel)]="checked" (change)="onselectAll($event)">เลือกทั้งหมด</mat-checkbox>
        </div>
        <div class="col-6 txt-right">
          <button mat-stroked-button color="primary" (click)="openDialog()">ลบ</button>
        </div>
      </div>
    </div>

    <div class="row padding">
      <div class="col-12 col-md-12 col-sm-12">
        สินค้า {{productData.products.length}} รายการ
      </div>
    </div>

    <div class="row padding">
      <div class="col-12 col-md-4 col-sm-4">
        <mat-form-field>
          <mat-icon class="search-ic">search</mat-icon>
          <input matInput placeholder="ค้นหา" [(ngModel)]="pageData.name" (keydown)="search($event)">
        </mat-form-field>
      </div>
      <!-- <div class="col-12 col-md-8 col-sm-8 txt-right">
        <span class="select">ล่าสุด</span> &nbsp;<span class="un-select">สินค้าขายดี</span> &nbsp;<span class="un-select">ราคา</span>
      </div> -->
    </div>
    <div class="row padding">
      <div class="col-12 col-md-2 col-sm-4 fix-col-2 mgt-1" *ngFor="let item of productData.products">
        <mat-card class="mat-card_cus">
          <div style="background-size: cover;min-height: 12rem;">
            <img [src]="item.image.url" style="position: absolute;
                    width: 100%;min-height: 12rem;object-fit: contain;">
            <mat-checkbox class="ch_box" [(ngModel)]="item.checked" (change)="checkboxOptions($event,item)"></mat-checkbox>
            <span *ngIf="item.iswholesale" style="right: 0;
                background-color: #00d0ff;
                position: absolute;
                color: white;
                padding-left: 2px;
                padding-right: 2px;
                font-size: 14px;
                border-radius: 3px;">ขายส่ง</span>
          </div>
          <div class="padding">
            <p class="p-name">
              {{item.name}}
            </p>
            <div class="row">
              <div class="col-6 txt-price">
                {{item.pricetext}}
              </div>
              <div class="col-6 txt-right" style="font-size: 14px;">
                คลัง {{item.stock}}
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="text-center" *ngIf="productData.products.length > 0">
      <button mat-flat-button color="primary" class="btn-summit select" style="margin: 5px;" *ngIf="pageData.page > 1"
        (click)="previos()">ก่อนหน้า</button>
      <button mat-flat-button color="primary" ngClass="{{pageData.page === (i + 1) ? 'select' : 'un-select'}} btn-summit"
        style="margin: 5px;min-width: unset;" *ngFor="let item of tabs;let i = index" (click)="page(item)">{{item}}</button>
      <button mat-flat-button color="primary" class="btn-summit select" style="margin: 5px;" *ngIf="pageData.page < tabs.length"
        (click)="next()">ต่อไป</button>
    </div>
  </mat-tab>
  <mat-tab label="หมด">
    <div *ngIf="showDelete" class="portal-panel">
      <div class="row">
        <div class="col-6 txt-left">
          <mat-checkbox class="ch_box" [(ngModel)]="checked" (change)="onselectAll($event)">เลือกทั้งหมด</mat-checkbox>
        </div>
        <div class="col-6 txt-right">
          <button mat-stroked-button color="primary" (click)="openDialog()">ลบ</button>
        </div>
      </div>
    </div>
    <div class="row padding">
      <div class="col-12 col-md-12 col-sm-12">
        สินค้า {{productData.products.length}} รายการ
      </div>
    </div>

    <div class="row padding">
      <div class="col-12 col-md-4 col-sm-4">
        <mat-form-field>
          <mat-icon class="search-ic">search</mat-icon>
          <input matInput placeholder="ค้นหา" [(ngModel)]="pageData.name" (keydown)="search($event)">
        </mat-form-field>
      </div>
      <!-- <div class="col-12 col-md-8 col-sm-8 txt-right">
        <span class="select">ล่าสุด</span> &nbsp;<span class="un-select">สินค้าขายดี</span> &nbsp;<span class="un-select">ราคา</span>
      </div> -->
    </div>
    <div class="row padding">
      <div class="col-12 col-md-2 col-sm-4 fix-col-2 mgt-1" *ngFor="let item of productData.products">
        <mat-card class="mat-card_cus">
          <div style="background-size: cover;min-height: 12rem;">
            <img [src]="item.image.url" style="position: absolute;
                    width: 100%;min-height: 12rem;object-fit: contain;">
            <mat-checkbox class="ch_box" [(ngModel)]="item.checked" (change)="checkboxOptions($event,item)"></mat-checkbox>
            <span *ngIf="item.iswholesale" style="right: 0;
                background-color: #00d0ff;
                position: absolute;
                color: white;
                padding-left: 2px;
                padding-right: 2px;
                font-size: 14px;
                border-radius: 3px;">ขายส่ง</span>
          </div>
          <div class="padding">
            <p class="p-name">
              {{item.name}}
            </p>
            <div class="row">
              <div class="col-6 txt-price">
                {{item.pricetext}}
              </div>
              <div class="col-6 txt-right" style="font-size: 14px;">
                คลัง {{item.stock}}
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="text-center" *ngIf="productData.products.length > 0">
      <button mat-flat-button color="primary" class="btn-summit select" style="margin: 5px;" *ngIf="pageData.page > 1"
        (click)="previos()">ก่อนหน้า</button>
      <button mat-flat-button color="primary" ngClass="{{pageData.page === (i + 1) ? 'select' : 'un-select'}} btn-summit"
        style="margin: 5px;min-width: unset;" *ngFor="let item of tabs;let i = index" (click)="page(item)">{{item}}</button>
      <button mat-flat-button color="primary" class="btn-summit select" style="margin: 5px;" *ngIf="pageData.page < tabs.length"
        (click)="next()">ต่อไป</button>
    </div>
  </mat-tab>
  <mat-tab label="ถูกระงับ">
    <div *ngIf="showDelete" class="portal-panel">
      <div class="row">
        <div class="col-6 txt-left">
          <mat-checkbox class="ch_box" [(ngModel)]="checked" (change)="onselectAll($event)">เลือกทั้งหมด</mat-checkbox>
        </div>
        <div class="col-6 txt-right">
          <button mat-stroked-button color="primary" (click)="openDialog()">ลบ</button>
        </div>
      </div>
    </div>
    <div class="row padding">
      <div class="col-12 col-md-12 col-sm-12">
        สินค้า {{productData.products.length}} รายการ
      </div>
    </div>

    <div class="row padding">
      <div class="col-12 col-md-4 col-sm-4">
        <mat-form-field>
          <mat-icon class="search-ic">search</mat-icon>
          <input matInput placeholder="ค้นหา" [(ngModel)]="pageData.name" (keydown)="search($event)">
        </mat-form-field>
      </div>
      <!-- <div class="col-12 col-md-8 col-sm-8 txt-right">
        <span class="select">ล่าสุด</span> &nbsp;<span class="un-select">สินค้าขายดี</span> &nbsp;<span class="un-select">ราคา</span>
      </div> -->
    </div>
    <div class="row padding">
      <div class="col-12 col-md-2 col-sm-4 fix-col-2 mgt-1" *ngFor="let item of productData.products">
        <mat-card class="mat-card_cus">
          <div style="background-size: cover;min-height: 12rem;">
            <img [src]="item.image.url" style="position: absolute;
                    width: 100%;min-height: 12rem;object-fit: contain;">
            <mat-checkbox class="ch_box" [(ngModel)]="item.checked" (change)="checkboxOptions($event,item)"></mat-checkbox>
            <span *ngIf="item.iswholesale" style="right: 0;
                background-color: #00d0ff;
                position: absolute;
                color: white;
                padding-left: 2px;
                padding-right: 2px;
                font-size: 14px;
                border-radius: 3px;">ขายส่ง</span>
          </div>
          <div class="padding">
            <p class="p-name">
              {{item.name}}
            </p>
            <div class="row">
              <div class="col-6 txt-price">
                {{item.pricetext}}
              </div>
              <div class="col-6 txt-right" style="font-size: 14px;">
                คลัง {{item.stock}}
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="text-center" *ngIf="productData.products.length > 0">
      <button mat-flat-button color="primary" class="btn-summit select" style="margin: 5px;" *ngIf="pageData.page > 1"
        (click)="previos()">ก่อนหน้า</button>
      <button mat-flat-button color="primary" ngClass="{{pageData.page === (i + 1) ? 'select' : 'un-select'}} btn-summit"
        style="margin: 5px;min-width: unset;" *ngFor="let item of tabs;let i = index" (click)="page(item)">{{item}}</button>
      <button mat-flat-button color="primary" class="btn-summit select" style="margin: 5px;" *ngIf="pageData.page < tabs.length"
        (click)="next()">ต่อไป</button>
    </div>
  </mat-tab>
</mat-tab-group>