<mat-tab-group>
  <mat-tab label="ทั้งหมด" class="padding">
    <div class="row padding">
      <div class="col-8">
        สินค้า 1 รายการ
      </div>
      <div class="col-2">

      </div>
      <div class="col-2">
        <button mat-flat-button color="primary">
          <mat-icon aria-label="Example icon-button with a heart icon">library_books</mat-icon> ทำเป็นชุด
        </button>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="ขายอยู่"> ขายอยู่ </mat-tab>
  <mat-tab label="หมด"> หมด </mat-tab>
  <mat-tab label="ถูกระงับ"> ถูกระงับ </mat-tab>
</mat-tab-group>