.mgt-right {
    margin-right: 0.4rem;
}

.txt-right {
    text-align: right;
}

.txt-left {
    text-align: left;
}

.select {
    margin: 2px;
    min-width: unset;
}

.un-select {
    background-color: #e8e8e8 !important;
    color: #000000 !important;
    margin: 2px;
    min-width: unset;
}

.fix-col {
    border: dotted;
    border-color: #a9a9a9;
    height: 20rem;
    position: relative;
    cursor: pointer;
}

.fix-col p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.add-txt {
    margin-top: 3rem !important;
    color: #ff9558;
    cursor: pointer;
}

.mat-card_cus {
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    display: block;
    position: relative;
    padding: 0px;
    border-radius: 4px;
    height: 20rem;
}

.p-name {
    font-size: 0.8rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.txt-price {
    color: #ff9558;
    white-space: nowrap;
    font-size: 15px;
}

.fix-col-2 {
    height: 20rem;
    cursor: pointer;
}

.fn-size {
    font-size: 0.6rem;
}

.ch_box {
    left: 10px;
    margin-left: 0.7rem;
    position: absolute;
    z-index: 999;
    margin-top: 20px;
}

.product-item__badges {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    text-align: right;
}

.product-label {
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: 0;
    width: 48px;
    height: 54px;
}

.product-label .badge-content {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.product-label .badge-content .text {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -55%);
    -ms-transform: translate(-50%, -55%);
    transform: translate(-50%, -55%);
}

.product-item .product-label svg {
    width: 100%;
    height: 100%;
}

.product-label.new svg {
    fill: rgba(0, 191, 165, .85);
}

.text {
    margin-left: -0.8rem;
    color: #ffffff;
    font-size: 0.8rem;
}

.mgt-1 {
    margin-bottom: 1rem;
}

.footer-card-txt {
    font-size: 0.8rem;
}

.search-ic {
    position: absolute;
    right: 0;
    bottom: 2px;
    color: #9f9f9f;
}

mat-tab-group {
    text-align: center;
}

.portal-panel {
    width: 100%;
    background: #fff;
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, .1);
    top: 56px;
    left: 0;
    z-index: 90000;
    padding: 20px;
}

.product-item-soldout-overlay {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, .54);
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.product-item-soldout-overlay .soldout {
    background: rgba(0, 0, 0, .65);
    color: #fff;
    text-align: center;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    font-size: 12px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.wholesale-badge {
    left: 0;
    background-color: #00d0ff;
    position: absolute;
    color: white;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 14px;
    border-radius: 4px;
}

.badge-box {
    position: absolute;
    z-index: 999;
    right: 8px;
    font-size: 0.8rem;
    background-color: rgba(255, 212, 36, .9);
    color: #ffffff;
    width: 36px;
    font-weight: bold;
}

.badge-box:after {
    content: "";
    width: 0;
    height: 0;
    left: 0;
    bottom: -4px;
    border-style: solid;
    position: absolute;
    border-width: 0 18px 4px;
    border-color: transparent rgba(255,212,36,.9);
}

.badge-num {
    color: #ff8100;
}