<div class="row" style="margin-bottom: 20px;">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 title-center">
    {{data.message}}
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <button style="margin-bottom: 10px;" name="btnDeleteCat" class="full-btn" mat-button color="primary" (click)="onCloseOk()">ตกลง</button>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <button name="btnCancelDeleteCat" class="full-btn" (click)="onCloseCancel()" mat-stroked-button>ยกเลิก</button>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
      </div>
    </div>
  </div>
</div>