<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 title-center">
    {{data.message}}
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="row">
      <div class="col-xs-2 col-sm-12 col-md-2 col-lg-2 col-xl-2 position-btn">
          <button name="btnDeleteCat" class="full-btn" (click)="onCloseOk()" mat-stroked-button>Confirm</button>
      </div>
      <div class="col-xs-2 col-sm-12 col-md-2 col-lg-2 col-xl-2 position-btn">
          <button name="btnCancelDeleteCat" class="full-btn" (click)="onCloseCancel()" mat-stroked-button>cancel</button>
      </div>
    </div>
  </div>
</div>