<div name="divTitleModal" class="mb-2">
  <div name="colTitleModal" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
    {{data.message}}
  </div>
</div>
<div name="rowRemark" class="row">
  <div name="col1Remark" class="col">
    <mat-form-field name="formFieldRemark" style="width: 100%" class="example-full-width">
      <input name="inputRemark" class="ml-2" type="text" [(ngModel)]="remark" placeholder="หมายเหตุ" matInput>
    </mat-form-field>

  </div>
</div>

<div name="rowFooter" class="row">
    <div name="col1Footer" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div name="rowButton" class="row">
        <div name="col1ButtonBlank" class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
        </div>
        <div name="col2ButtonConfirm" class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
          <button name="btnConfirmOk" style="width: 100%" class="full-btn margin-top-btn" mat-flat-button color="primary" [disabled]="!remark" (click)="onClickOk()">ตกลง</button>
        </div>
        <div name="col3ButtonCancel" class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
          <button name="btnConfirmCancel" style="width: 100%" class="full-btn margin-top-btn" (click)="onClickCancel()" mat-stroked-button>ยกเลิก</button>
        </div>
        <div name="col4ButtonBlank" class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
        </div>
      </div>
    </div>
  </div>
