<div class="login">
  <mat-card>
    <div class="row">
      <div class="col col-12 text-center">
        <img class="login-background" src="./assets/imgs/logoregister.png" alt="logo-backgound">
      </div>
      <div class="col col-12">
        <form [formGroup]="formGroup" class="login-form padding">
          <div class="row">
            <div class="col col-12 text-center">
              <div class="padding">
                <mat-form-field class="input-block">
                  <input matInput placeholder="ชื่อผู้ใช้" [(ngModel)]="credentials.username" type="text"
                    formControlName="formGroupUsername" required>
                </mat-form-field>
              </div>
              <div class="padding">
                <mat-form-field class="input-block">
                  <input matInput placeholder="รหัสผ่าน" [(ngModel)]="credentials.password" type="password"
                    formControlName="formGroupPassword" required>
                </mat-form-field>
              </div>
            </div>
            <div class="col col-12 text-center">
              <button mat-flat-button color="primary" class="btn-login" [disabled]="formGroup.invalid" (click)="onLogin()">เข้าสู่ระบบ</button>
              <br>
              <br>
              <message class="text-center btn-login" [type]="dataService.messageType" [message]="dataService.message"></message>
            </div>
          </div>
        </form>
      </div>
    </div>
  </mat-card>
</div>
