<div class="login">
  <!-- <mat-card class="no-padding"> -->
    <div class="row full">
      <div class="col col-12 col-md-7 text-center bg-gray">
        <img class="login-background" src="./assets/imgs/logo.png" alt="logo-backgound">
      </div>
      <div class="col col-12 col-md-5 text-center bg-white">
        <h3 class="primary">Furnover Seller Center</h3>
        <br>
        <form [formGroup]="formGroup" class="login-form padding">
          <div class="row">
            <div class="col col-12 text-center">
              <div>
                <mat-form-field class="input-block">
                  <input matInput placeholder="ชื่อผู้ใช้" [(ngModel)]="credentials.username" type="text"
                    formControlName="formGroupUsername" required>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field class="input-block">
                  <input matInput placeholder="รหัสผ่าน" [(ngModel)]="credentials.password" type="password"
                    formControlName="formGroupPassword" required>
                </mat-form-field>
              </div>
            </div>
            <div class="col col-12 text-center">
              <message class="text-center" [type]="dataService.messageType" [message]="dataService.message"></message>
              <button mat-flat-button color="primary" class="btn-login" [disabled]="formGroup.invalid" (click)="onLogin()">เข้าสู่ระบบ</button>
              <br>
              <br>
              <p class="register">ฉันยังไม่มีบัญชี? <span class="btn primary" routerLink="/auth/register">สมัครสมาชิกที่นี่</span></p>
            </div>
          </div>
        </form>
      </div>
    </div>
  <!-- </mat-card> -->
</div>
