<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>
<button (click)="xxx()">xxx</button>
<mat-vertical-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>First name & Last name</ng-template>
      <div>
        <mat-form-field>
          <input matInput placeholder="First name" formControlName="firstnameCtrl" required>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Last name" formControlName="lastnameCtrl" required>
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Email</ng-template>
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="emailCtrl" required email>
        <!-- <mat-error *ngIf="secondFormGroup.controls.emailCtrl.errors.email">
          Please enter a valid email address
        </mat-error> -->
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Username</ng-template>
      <mat-form-field>
        <input matInput placeholder="Username" formControlName="usernameCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="fourthFormGroup">
    <form [formGroup]="fourthFormGroup">
      <ng-template matStepLabel>Password</ng-template>
      <div>
        <mat-form-field>
          <input matInput placeholder="Password" formControlName="passwordCtrl" required>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Password Confirm" formControlName="passwordconfirmCtrl" required>
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="fifthFormGroup">
    <form [formGroup]="fifthFormGroup">
      <ng-template matStepLabel>Shop name</ng-template>
      <mat-form-field>
        <input matInput placeholder="Shop name" formControlName="shopnameCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
      <button mat-button (click)="done()">Done</button>
    </div>
  </mat-step>
</mat-vertical-stepper>