.input-block {
  max-width: 300px !important;
  width: 100% !important;
}

.btn-login {
  max-width: 300px !important;
  width: 100% !important;
}

.register-bg {
  background-image: url("../../../assets/imgs/register.png") !important;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  min-height: 500px;
}
