.container {
  padding: 0px !important;
}

.register-div {
  overflow-x: hidden;
  overflow-y: auto;
}

.input-block {
  margin: auto;
  max-width: 300px !important;
  width: 100% !important;
}

.btn-register {
  max-width: 300px !important;
  width: 100% !important;
  margin: 4px !important;
}

.register-bg {

  // background-image: url("../../../assets/imgs/register.png") !important;
  // background-repeat: no-repeat;
  // background-size: 80%;
  // background-position: center;
  // min-height: 100%;
  img {
    max-width: 500px;
    width: 100%;
    object-fit: cover;
  }
}

.register {
  font-size: 14px;

  .btn {
    cursor: pointer;
    text-decoration: underline;
  }
}

.bg-gray {
  background-color: #f5f5f5;
}
