<mat-card class="container">
  <div class="code-setting-header-title row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <span>โค้ดส่วนลดของฉัน</span>
    </div>
  </div>
  <div class="row">
    <div class="d-none d-sm-block d-md-block d-lg-block d-xl-block col-sm-12 col-md-12 col-lg-12 col-xl-12 text-right">
      <button name="createCode" mat-flat-button color="primary" (click)="onCreateCode()">
        <mat-icon>add</mat-icon><span style="font-weight: bold;" class="padding-left">โปรโมชั่นส่วนลดใหม่</span>
      </button>
    </div>
    <div class="d-block d-sm-none col-12" (click)="onCreateCode()">
      <button name="addNewPomotionDiscont" (click)="onCreateCode()" mat-flat-button color="primary">
        <mat-icon>add</mat-icon><span style="font-weight: bold;" class="padding-left">โปรโมชั่นส่วนลดใหม่</span>
      </button>
    </div>

  </div>

  <mat-tab-group name="mat-tab-groupStatus" (selectedTabChange)="onLinkClick($event)" [selectedIndex]="0">
    <mat-tab id="mat-tabNgFor" name="mat-tabNgFor" label="{{item.name}}" *ngFor="let item of statusArray">
      <mat-list class="padding">
        <div class="row" style="background-color: #f5f5f5;">
          <div name="subHeaderMyCode" class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <h3 mat-subheader>โค้ดส่วนลด | ชื่อโค้ดส่วนลด</h3>
          </div>
          <div name="subHeaderValue" class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
            <h3 mat-subheader>มูลค่า</h3>
          </div>
          <div name="subHeaderQty" class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
            <h3 mat-subheader>จำนวน</h3>
          </div>
          <div name="subHeaderAccepted" class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 text-center">
            <h3 mat-subheader class="no-flex">โค้ดส่วนลดที่กดรับแล้ว</h3>
          </div>
          <div name="subHeaderUsed" class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 text-center">
            <h3 mat-subheader class="no-flex">โค้ดส่วนลดที่ใช้แล้ว</h3>
          </div>
          <div name="subHeaderStatusTime" class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <h3 mat-subheader>สถานะ | ระยะเวลา</h3>
          </div>
          <div name="subHeaderClickDetail" class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
            <h3 mat-subheader></h3>
          </div>
        </div>
        <div name="divNgFor" class="row" style="border-bottom: 1px solid #e0e0e0;" *ngFor="let item of data.codes">
          <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <!-- <h3 mat-subheader>{{item.code}}</h3>
            <h3 mat-subheader>{{item.name}}</h3>
             -->
            <mat-list-item>
              <mat-icon mat-list-icon color="primary" class="mat-icon-header">attach_money</mat-icon>
              <h4 mat-line style="font-family: Roboto,'Helvetica Neue',sans-serif;
                font-size: 14px;
                font-weight: 700;">{{item.code}}</h4>
              <p mat-line style="font-family: Roboto,'Helvetica Neue',sans-serif;
                font-size: 14px;
                font-weight: 500;       color: rgba(0,0,0,.54);">
                {{item.name}} </p>
              <!-- <mat-divider [inset]="true"></mat-divider> -->
            </mat-list-item>
          </div>
          <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
            <h3 mat-subheader>{{item.discounttext}}</h3>
          </div>
          <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
            <h3 mat-subheader>{{item.codeqty}}</h3>
          </div>
          <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 text-center">
            <h3 mat-subheader class="no-flex">{{item.codeaccept}}</h3>
          </div>
          <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 text-center">
            <h3 mat-subheader class="no-flex">{{item.codeused}}</h3>
          </div>
          <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <h3 mat-subheader>{{item.startdate | date:"dd-MM-yyyy"}} ถึง {{item.enddate | date:"dd-MM-yyyy"}}</h3>
          </div>
          <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
            <button name="detailData" mat-flat-button color="primary" (click)="onDetail(item)">
              <span>ข้อมูล</span>
            </button>
          </div>
        </div>


        <div padding *ngIf="dataService.message">
          <message padding-top class="text-center" [type]="dataService.messageType" [message]="dataService.message"></message>
        </div>
        <!--         
        <div class="text-center padding padding-top">
            <button mat-flat-button color="primary" class="btn-summit select" style="margin: 5px;" (click)="previos()">ก่อนหน้า</button>
            <button mat-flat-button color="primary" style="margin: 5px;min-width: unset;" *ngFor="let item of [1,2,3];let i = index"
                (click)="page(item)">{{1}}</button>
            <button mat-flat-button color="primary" class="btn-summit select" style="margin: 5px;" (click)="next()">ต่อไป</button>
        </div> -->

        <div class="text-center" *ngIf="data.codes && data.codes.length > 0">
          <button name="previos" mat-flat-button color="primary" class="btn-summit select" style="margin: 5px;" *ngIf="pageData.page > 1"
            (click)="previos()">ก่อนหน้า</button>
          <button name="page" mat-flat-button color="primary" ngClass="{{pageData.page === (i + 1) ? 'select' : 'un-select'}} btn-summit"
            style="margin: 5px;min-width: unset;" *ngFor="let item of tabs;let i = index" (click)="page(item)">{{item}}</button>
          <button name="next" mat-flat-button color="primary" class="btn-summit select" style="margin: 5px;" *ngIf="pageData.page < tabs.length"
            (click)="next()">ต่อไป</button>
        </div>


      </mat-list>

    </mat-tab>
  </mat-tab-group>




</mat-card>