<mat-card>
  <div class="row">
    <div class="col-12">
      <div class="btn-del-header" *ngIf="status === 'soon'">
        <button mat-stroked-button color="primary" (click)="deleteCode()">ลบโค้ดส่วนลด</button>
      </div>
      <div class="btn-del-header" *ngIf="status === 'now'">
        <button mat-stroked-button color="primary" (click)="cancelCode()">ยกเลิกโค้ดส่วนลด</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-12 padding-left-div ">
      <div class="row">
        <div class="col-md-12">
          <p class="font-header">สร้างโค้ดส่วนลดใหม่</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <p>ชื่อโค้ดส่วนลด<span class="star-req">*</span></p>
        </div>
        <div class="col-md-9">
          <mat-form-field>
            <input matInput [(ngModel)]="data.name" [disabled]="status === 'end'">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <p>โค้ดส่วนลด<span class="star-req">*</span></p>
        </div>
        <div class="col-md-9">
          <mat-form-field>
            <input matInput [(ngModel)]="data.code" [disabled]="status === 'end'">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <p>ประเภทโค้ดส่วนลด<span class="star-req">*</span></p>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <mat-select placeholder="เลือกประเภทส่วนลด" [(ngModel)]="data.codetype" [disabled]="status === 'end'">
              <mat-option value="cash">
                บาท
              </mat-option>
              <mat-option value="percentage">
                เปอร์เซ็น
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-1"></div>
        <div class="col-md-4" *ngIf="data.codetype == 'cash'">
          <mat-form-field>
            <input matInput type="tel" placeholder="จำนวนส่วนลด(บาท)" [(ngModel)]="data.cash.discount" [disabled]="status === 'end'">
          </mat-form-field>
        </div>
        <div class="col-md-4" *ngIf="data.codetype == 'percentage'">
          <mat-form-field>
            <input matInput type="tel" placeholder="จำนวนส่วนลด(เปอร์เซ็น)" [(ngModel)]="data.percentage.discount" [disabled]="status === 'end'">
          </mat-form-field>
        </div>
      </div>
      <div class="row" *ngIf="data.codetype == 'percentage'">
        <div class="col-md-3">
          <p>ส่วนลดสูงสุด</p>
        </div>
        <div class="col-md-9">
          <mat-radio-group [(ngModel)]="data.percentage.percentagetype">
            <mat-radio-button value="limit" [disabled]="status === 'end'">กำหนดราคา</mat-radio-button>
            &nbsp;&nbsp;
            <mat-radio-button value="unlimit" [disabled]="status === 'end'">ไม่จำกัด</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="row" *ngIf="data.percentage.percentagetype == 'limit' && data.codetype == 'percentage'">
        <div class="col-md-3"></div>
        <div class="col-md-9">
          <mat-form-field>
            <input matInput placeholder="กำหนดราคาสูงสุด" [(ngModel)]="data.percentage.setamount" [disabled]="status === 'end'"> 
          </mat-form-field>
        </div>
      </div>
      <div class="row" *ngIf="data.codetype == 'cash'">
        <div class="col-md-3">
          <p>ราคาขั้นต่ำ</p>
        </div>
        <div class="col-md-9">
          <mat-form-field>
            <input matInput type="tel" [(ngModel)]="data.cash.minprice" [disabled]="status === 'end'">
          </mat-form-field>
        </div>
      </div>
      <div class="row" *ngIf="data.codetype == 'percentage'">
        <div class="col-md-3">
          <p>ราคาขั้นต่ำ</p>
        </div>
        <div class="col-md-9">
          <mat-form-field>
            <input matInput type="tel" [(ngModel)]="data.percentage.minprice" [disabled]="status === 'end'">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <p>ระยะเวลาเริ่มต้น/สิ้นสุด<span class="star-req">*</span></p>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <input matInput [matDatepicker]="dp" placeholder="วันเริ่มต้น" (ngModelChange)="startDate($event)"
              [(ngModel)]="_startdate" [disabled]="status === 'end'">
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <mat-form-field>
            <input matInput [matDatepicker]="dp2" placeholder="วันสิ้นสุด" (ngModelChange)="endDate($event)"
              [(ngModel)]="_enddate" [disabled]="status === 'end'">
            <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
            <mat-datepicker #dp2></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <p>จำนวนโค้ดส่วนลด<span class="star-req">*</span></p>
        </div>
        <div class="col-md-9">
          <mat-form-field>
            <input matInput type="tel" [(ngModel)]="data.codeqty" [disabled]="status === 'end'">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="d-none d-md-block d-lg-block d-xl-block col-md-6 div-img-right-style">
      <img src="assets/imgs/code_img_right.png" class="code-img-right-style">
      <p class="text-img-right-style">（สูงสุด 10,000 โค้ด หมายเหตุ: ระบบของ Furnover จะจำกัดการใช้โค้ด 1
        ครั้ง/คน/เครื่อง โดยอัตโนมัติ）</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="font-header">เลือกสินค้าสำหรับการใช้โค้ดส่วนลด<span class="star-req">*</span></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <mat-checkbox [(ngModel)]="_itemtype" (ngModelChange)="isChecked(_itemtype)" [disabled]="status === 'end'">สามารถใช้ได้กับสินค้าทั้งร้าน</mat-checkbox>
    </div>
  </div>
  <div class="row" *ngIf="_itemtype === false">
    <div class="col-12 col-md-2 col-sm-4" (click)="openModalAddProduct()">
      <div class="fix-col div-add-prod">
        <p class="add-txt-icon">
          <button mat-fab color="primary">
            <mat-icon>add</mat-icon>
          </button>
        </p>
        <p class="add-txt">เพิ่มสินค้า</p>
      </div>
    </div>
    <div class="col-12 col-md-2 col-sm-4" *ngFor="let item of data.products">
      <mat-card class="mat-card_cus">
        <div class="div-img">
          <!-- <img [src]="item.image ? item.image.url:''" class="img-style" (click)="gotoEditProduct(item._id)"> -->
          <img [src]="item.image ? item.image.url:''" class="img-style">
        </div>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-12">
      <message class="text-center" [type]="dataService.messageType" [message]="dataService.message"></message>
    </div>
  </div>
  <div class="row padding-top-btn">
    <div class="col-12 col-md-5"></div>
    <div class="col-12 col-md-1">
      <button mat-flat-button color="primary" style="width:100%;" (click)="saveData()">บันทึก</button>
    </div>
    <div class="col-12 col-md-1 padding-btn-div">
      <button mat-stroked-button color="primary" style="width:100%;" (click)="clickCancel()">ยกเลิก</button>
    </div>
    <div class="col-12 col-md-5"></div>
  </div>
</mat-card>