<mat-card>
  <div class="row">
    <div class="col-12">
      <div class="btn-del-header" *ngIf="status === 'soon'">
        <button name="buttonDeleteCode" mat-stroked-button color="primary" (click)="deleteCode()">ลบโค้ดส่วนลด</button>
      </div>
      <div class="btn-del-header" *ngIf="status === 'now'">
        <button name="buttonCancleCode" mat-stroked-button color="primary" (click)="cancelCode()">ยกเลิกโค้ดส่วนลด</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-12 padding-left-div ">
      <div class="row">
        <div class="col-md-12">
          <p class="font-header">สร้างโค้ดส่วนลดใหม่</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <p>ชื่อโค้ดส่วนลด<span class="star-req">*</span></p>
        </div>
        <div class="col-md-9">
          <mat-form-field>
            <input matInput name="name" [(ngModel)]="data.name" [disabled]="status === 'end'">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <p>โค้ดส่วนลด<span class="star-req">*</span></p>
        </div>
        <div class="col-md-9">
          <div class="prefix-label">{{prefixUppercase}}</div>
          <mat-form-field>
            <input name="code" class="prefix-code" maxlength="5" matInput [(ngModel)]="data.code" (ngModelChange)="checkCode()"
              [disabled]="status === 'end'">
          </mat-form-field>
          <div class="box-preview">
            <span>กรุณาใส่ A-Z, 0-9; สูงสุด 5 ตัวอักษร</span><br>
            <span>โค้ดส่วนลดของคุณคือ：{{prefixUppercase}}{{data.code ? data.code:''}}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <p>ประเภทโค้ดส่วนลด<span class="star-req">*</span></p>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <mat-select name="codetype" placeholder="เลือกประเภทส่วนลด" [(ngModel)]="data.codetype" [disabled]="status === 'end'">
              <mat-option name="cash" value="cash">
                บาท
              </mat-option>
              <mat-option name="percentage" value="percentage">
                เปอร์เซ็น
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-1"></div>
        <div class="col-md-4" *ngIf="data.codetype === 'cash'">
          <mat-form-field>
            <input name="cashDiscount" matInput type="tel" placeholder="จำนวนส่วนลด(บาท)" [(ngModel)]="data.cash.discount" [disabled]="status === 'end'"
              [disabled]="status === 'end'" (ngModelChange)="checkNumCash(data.cash.discount)">
          </mat-form-field>
        </div>
        <div class="col-md-4" *ngIf="data.codetype === 'percentage'">
          <mat-form-field>
            <input name="percentageDiscount" matInput type="tel" placeholder="จำนวนส่วนลด(เปอร์เซ็น)" [(ngModel)]="data.percentage.discount"
              [disabled]="status === 'end'" (ngModelChange)="checkNumPercen(data.percentage.discount)">
          </mat-form-field>
        </div>
      </div>
      <div class="row" *ngIf="data.codetype == 'percentage'">
        <div class="col-md-3">
          <p>ส่วนลดสูงสุด</p>
        </div>
        <div class="col-md-9">
          <mat-radio-group name="percentageType" [(ngModel)]="data.percentage.percentagetype">
            <mat-radio-button name="limit" value="limit" [disabled]="status === 'end'">กำหนดราคา</mat-radio-button>
            &nbsp;&nbsp;
            <mat-radio-button name="unlimit" value="unlimit" [disabled]="status === 'end'">ไม่จำกัด</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="row" *ngIf="data.percentage.percentagetype == 'limit' && data.codetype == 'percentage'">
        <div class="col-md-3"></div>
        <div class="col-md-9">
          <mat-form-field>
            <input matInput name="setAmount" type="tel" placeholder="กำหนดราคาสูงสุด" [(ngModel)]="data.percentage.setamount" [disabled]="status === 'end'"
              (ngModelChange)="checkNumMax(data.percentage.setamount)">
          </mat-form-field>
        </div>
      </div>
      <div class="row" *ngIf="data.codetype == 'cash'">
        <div class="col-md-3">
          <p>ราคาขั้นต่ำ</p>
        </div>
        <div class="col-md-9">
          <mat-form-field>
            <input matInput name="cashMinPrice" type="tel" name [(ngModel)]="data.cash.minprice" [disabled]="status === 'end'" (ngModelChange)="checkNumCashMin(data.cash.minprice)">
          </mat-form-field>
        </div>
      </div>
      <div class="row" *ngIf="data.codetype == 'percentage'">
        <div class="col-md-3">
          <p>ราคาขั้นต่ำ</p>
        </div>
        <div class="col-md-9">
          <mat-form-field>
            <input matInput type="tel" name="percentageMinPrice" [(ngModel)]="data.percentage.minprice" [disabled]="status === 'end'"
              (ngModelChange)="checkNumPerMin(data.percentage.minprice)">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <p>ระยะเวลาเริ่มต้น/สิ้นสุด<span class="star-req">*</span></p>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <input matInput name="startDate" [matDatepicker]="dp" placeholder="วันเริ่มต้น" (ngModelChange)="startDate($event)"
              [(ngModel)]="_startdate" disabled>
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp [disabled]="status === 'end' ? true : false"></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <mat-form-field>
            <input matInput name="endDate" [matDatepicker]="dp2" placeholder="วันสิ้นสุด" (ngModelChange)="endDate($event)"
              [(ngModel)]="_enddate" disabled>
            <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
            <mat-datepicker #dp2 [disabled]="status === 'end' ? true : false"></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="row" no-padding *ngIf="_startdate > _enddate">
        <div class="col-md-3"></div>
        <div class="col-md-9">
          <div class="box-preview">
            <span>กรุณากรอกวันที่สิ้นสุดให้มากกว่าวันที่เริ่มต้น</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <p>จำนวนโค้ดส่วนลด<span class="star-req">*</span></p>
        </div>
        <div class="col-md-9">
          <mat-form-field>
            <input matInput name="codeQty" type="tel" [(ngModel)]="data.codeqty" [disabled]="status === 'end'" (ngModelChange)="checkNumQty(data.codeqty)">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="d-none d-md-block d-lg-block d-xl-block col-md-6 div-img-right-style">
      <img src="assets/imgs/code_img_right.png" class="code-img-right-style">
      <p class="text-img-right-style">（สูงสุด 10,000 โค้ด หมายเหตุ: ระบบของ Furnover จะจำกัดการใช้โค้ด 1
        ครั้ง/คน/เครื่อง โดยอัตโนมัติ）</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="font-header">เลือกสินค้าสำหรับการใช้โค้ดส่วนลด<span class="star-req">*</span></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <mat-checkbox name="itemType" [(ngModel)]="_itemtype" (ngModelChange)="isChecked(_itemtype)" [disabled]="status === 'end'">สามารถใช้ได้กับสินค้าทั้งร้าน</mat-checkbox>
    </div>
  </div>
  <div class="row" *ngIf="_itemtype === false">
    <div name="addProduct" class="col-12 col-md-2 col-sm-4">
      <div class="fix-col div-add-prod">
        <p class="add-txt-icon">
          <button [disabled]="status === 'end'" mat-fab color="primary" (click)="openModalAddProduct()">
            <mat-icon>add</mat-icon>
          </button>
        </p>
        <p class="add-txt">เพิ่มสินค้า</p>
      </div>
    </div>
    <div class="col-12 col-md-2 col-sm-4" *ngFor="let item of data.products">
      <mat-card class="mat-card_cus">
        <div class="div-img container">
          <img [src]="item.image ? item.image.url:''" class="img-style">
          <div class="topright">
            <!-- <mat-icon svgIcon="del" class="setting-icon-del" (click)="delProd(item)"></mat-icon> -->
            <mat-icon *ngIf="!status || status === 'soon' || status === 'now' " name="buttonDeleteProduct" class="setting-icon-del" (click)="delProd(item)">delete</mat-icon>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-12">
      <message class="text-center" [type]="dataService.messageType" [message]="dataService.message"></message>
    </div>
  </div>
  <div class="row padding-top-btn">
    <div class="col-12 col-md-5"></div>
    <div class="col-12 col-md-1">
      <button mat-flat-button color="primary" style="width:100%;" name="buttonSave" (click)="saveData()" [disabled]="_startdate > _enddate || !_startdate|| !_enddate || !data.name || !data.code || !data.cash.minprice || !data.codeqty">บันทึก</button>
    </div>
    <div class="col-12 col-md-1 padding-btn-div">
      <button mat-stroked-button color="primary" style="width:100%;" name="buttonCancel" (click)="clickCancel()">ยกเลิก</button>
    </div>
    <div class="col-12 col-md-5"></div>
  </div>
</mat-card>