<div class="wrapper content">
  <div class="row" *ngIf="itemId">
    <div class="col-12 del-box">
      <button name="btnDeletePromotion" mat-stroked-button color="primary" (click)="delete()" *ngIf="itemStatus === 'soon' || !itemStatus">
        <mat-icon>delete_outline</mat-icon> ลบโปรโมชั่น
      </button>
      <button name="btnEndNow"  mat-stroked-button color="primary" (click)="endNow()" *ngIf="dateLimited >= 1 && itemStatus === 'now' && data.status !== 'end'">
        <mat-icon>highlight_off</mat-icon> End Now
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <app-my-promotion-header [data]="data" [itemStatus]="itemStatus" (outputData)="getDataHeader($event)"></app-my-promotion-header>
    </div>
  </div>
  <message class="text-center" [type]="dataService.messageType" [message]="dataService.message"></message>

  <div class="row" *ngIf="data.isSave">
    <div class="col-12 del-box">
      <button name="addProduct" mat-stroked-button color="primary" (click)="openModalAddProduct()" *ngIf="data.status !== 'end'">
        <mat-icon>add</mat-icon> เพิ่มสินค้า
      </button>
      <button name="successProduct" mat-flat-button class="btn-margin" *ngIf="data.status !== 'end'" color="primary" [disabled]="!(data.title && data.startdate && data.enddate && data.starttime && data.endtime && data.products.length > 0 && checkPrice) "
        (click)="save()">
        <mat-icon>done</mat-icon> เสร็จสิ้น
      </button>
      <button name="openPromotion" mat-flat-button class="btn-margin" *ngIf="data.status === 'end'" color="primary"
        (click)="openPromotion()">
        <mat-icon>done</mat-icon> เสร็จสิ้น
      </button>
    </div>
  </div>

  <div class="row" *ngIf="data.isSave">
    <div class="col-12">
      <app-my-promotion-list [data]="data" [itemStatus]="itemStatus" (outputData)="getDataPromotionList($event)"></app-my-promotion-list>
    </div>
  </div>
</div>