.grid {
    max-width: fit-content;
}

.row {
    margin-right: -10px !important;
    margin-left: -10px !important;
}

.card-panel {
    background-color: #fff;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, .09);
}