<div class="row">
  <div class="no-padding col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="card-panel">
      <div class="shop-setting-header">
        <div class="shop-setting-header-content">

          <div style="background: #49cbdd;" class="shop-setting-header-icon">
            <svg class="shop-setting-header-icon-svg" viewBox="0 0 32 32">
              <path d="M23.9 12.9l-1.6-1.6 6.2-6.2 1.6 1.6-6.2 6.2zM32 4.8l-1.6-1.6-1 1L31 5.8l1-1zM19.7 15.6l2.6-1.4-1.3-1.3-1.3 2.7zm8.6-4v16.3c0 .9-.7 1.6-1.6 1.6H1.6c-.9 0-1.6-.7-1.6-1.6V6.2c0-.9.7-1.6 1.6-1.6h24.2l-2 2H2v11.9l5.6-3.8 7.2 6.1 6.7-3 4.7 4.1v-8.4l2.1-1.9zm-2 15.9v-2.9l-5.1-4.4-6.7 3-7-6L2 21v6.5h24.3z"></path>
            </svg>
          </div>

          <div class="shop-setting-header-caption ">
            <div class="shop-setting-header-title">รายละเอียดร้านค้า</div>
            <div class="shop-setting-header-subtitle">ดูสถานะร้านของคุณและแก้ไขโปไฟล์ร้านของคุณ</div>
          </div>

        </div>
        <hr class="shop-setting-header-seperator">
      </div>

      <div class="row grid with-gap setting-card--form">
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 col-profile">
          <div class="seller-meta">
            <div style="background-image: url('https://cf.shopee.co.th/file/4f6573903a0e1181f36d64982ad21e17');" class="cover-photo">
            </div>
            <div class="cover-uploader dropzone">
              <label for="file-input">
                <div class="validation-toast"></div> <svg class="validation-toast-svg" viewBox="0 0 32 32">
                  <path d="M16 12c-3.3 0-6 2.7-6 6s2.7 6 6 6 6-2.7 6-6-2.7-6-6-6z"></path>
                  <path d="M30 6h-5l-1-2s-.9-2-2-2H10C8.9 2 8 4 8 4L7 6H2C.9 6 0 6.9 0 8v20c0 1.1.9 2 2 2h28c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2zM16 26c-4.4 0-8-3.6-8-8s3.6-8 8-8 8 3.6 8 8-3.6 8-8 8z"></path>
                </svg> <span style="font-size: 14px; padding-left: 5px;cursor: pointer;">เปลี่ยนรูปปก</span>
                <input id="file-input" type="file">
                <!-- <div style="display:none" class="cropper-masker cropper-masker-block">
                  <div class="cropper-loading"><img src="/images/spinner-balls-g.gif" alt=""></div>
                  <div class="cropper-saving">กำลังบันทึก</div>
                </div> -->
              </label>
            </div>
            <div class="seller-profile-container">
              <!-- <div class="avatar-container"> -->
              <label for="file-avatar-input">
                <div class="avatar">
                  <img [src]="shopUser.profileImageURL">
                  <div class="avatar-uploader dropzone" style="cursor: pointer;">
                    <div class="validation-toast "></div>
                    <div class="edit">
                      แก้ไข
                    </div>
                    <input id="file-avatar-input" type="file">
                    <!-- <div style="display:none" class="cropper-masker cropper-masker-block">
                      <div class="cropper-loading"><img src="/images/spinner-balls-g.gif" alt=""></div>
                      <div class="cropper-saving">กำลังบันทึก</div>
                    </div> -->
                  </div>
                </div>
              </label>
              <!-- </div> -->
              <div class="seller-name">
                <div class="name">{{shopUser.username}}</div>
                <!-- <div class="description">เข้าร่วมเมื่อ 3 เดือนที่แล้ว</div> -->
                <!-- <div class="seller-following" style="color: #8c8c8c;">
                  <div class="seller-following__item">
                    2&nbsp;
                    <span class="seller-following__subtitle">กำลังติดตาม</span>
                  </div>
                  <div class="seller-following-item">
                    1&nbsp;
                    <span class="seller-following__subtitle">ผู้ติดตาม</span>
                  </div>
                </div> -->
              </div>
            </div>
            <!-- <div class="star-rating-fields">
              <div class="row row-large-header">
                <div class="row-view-in">
                  <div class="row-text">
                    ดูร้านค้า
                  </div>
                  <a class="row-action" style="cursor: pointer;" data-ember-action="" data-ember-action-1175="1175">
                    <svg viewBox="0 0 32 32">
                      <path d="M3 21v2c0 .6.5 1 1 1h24c.6 0 1-.5 1-1v-2H3zM29 4c0-.6-.5-1-1-1H4c-.4 0-1 .5-1 1v15h26V4zM12 29h8v-3h-8v3zm10-3v3h2v2H8v-2h2v-3H3c-1 0-2-1-2-2V2.9C1 1.9 1.9 1 2.9 1h26.2c1 0 1.9.9 1.9 1.9v20.7c0 1-1 2.4-2 2.4h-7z"></path>
                    </svg>
                  </a>
                </div>
              </div>
              <div class="row row-large-header">
                <div class="icon"><svg viewBox="0 0 32 32">
                    <path d="M29.5 12.4h-1.8v18H4.3v-18H2.5V7h7.8c-.4-.6-.6-1.2-.6-1.8 0-2 1.6-3.6 3.6-3.6 1.1 0 2.1.5 2.7 1.3.6-.8 1.6-1.3 2.7-1.3 2 0 3.6 1.6 3.6 3.6 0 .6-.2 1.3-.5 1.8h7.8v5.4zM16.9 28.6h9v-7.2h-9v7.2zm0-9h9v-7.2h-9v7.2zm-10.8 9h9v-7.2h-9v7.2zm0-9h9v-7.2h-9v7.2zm7.2-16.2c-1 0-1.8.8-1.8 1.8S12.3 7 13.3 7s1.8-.8 1.8-1.8-.8-1.8-1.8-1.8zm5.4 0c-1 0-1.8.8-1.8 1.8S17.7 7 18.7 7s1.8-.8 1.8-1.8-.8-1.8-1.8-1.8zm9 5.4H4.3v1.8h23.5V8.8z"></path>
                  </svg></div>
                <div class="rating-title">รายการสินค้า</div>
                <a routerLink="/profile" class="data"><span style="font-size: 14px;">0</span>
                  <svg viewBox="0 0 32 32">
                    <path d="M23.5 15.5l-12-11c-.6-.6-1.5-.6-2.1 0-.2.2-.4.6-.4 1s.2.8.4 1l10.9 10-10.9 10c-.6.6-.6 1.5 0 2.1.3.3.7.4 1 .4.4 0 .7-.1 1-.4l11.9-10.9.1-.1c.3-.3.4-.7.4-1.1.1-.4 0-.8-.3-1z"></path>
                  </svg>
                </a>
              </div>
              <div class="row row-large-header">
                <div class="icon"><svg viewBox="0 0 32 32">
                    <path d="M0 19V6c0-3.3 2.7-6 6-6h20c3.3 0 6 2.7 6 6v13c0 3.3-2.7 5-6 5H14l-8 8v-8c-3.3 0-6-1.7-6-5zm26 3c2.2 0 4-.8 4-3V6c0-2.2-1.8-4-4-4H6C3.8 2 2 3.8 2 6v13c0 2.2 1.8 3 4 3h2v5l5-5h13zM8 22"></path>
                    <circle cx="8" cy="12" r="2"></circle>
                    <circle cx="16" cy="12" r="2"></circle>
                    <circle cx="24" cy="12" r="2"></circle>
                  </svg></div>
                <div class="rating-title">เรทการตอบกลับ</div>
                <div class="data"><span style="font-size: 14px;">57%</span></div>
              </div>
              <div class="row row-large-header">
                <div class="icon"><svg viewBox="0 0 32 32">
                    <path d="M16 32C7.2 32 0 24.8 0 16S7.2 0 16 0s16 7.2 16 16-7.2 16-16 16zm0-30C8.3 2 2 8.3 2 16s6.3 14 14 14 14-6.3 14-14S23.7 2 16 2zm4.4 20.7l-5.9-5.9c-.3-.2-.5-.4-.5-.8V7c0-.6.4-1 1-1s1 .4 1 1v8.6l5.7 5.7c.4.4.4 1 0 1.4-.4.4-1 .4-1.3 0z"></path>
                  </svg></div>
                <div class="rating-title">เวลาในการตอบกลับ</div>
                <div class="data"><span style="font-size: 14px;">ภายในไม่กี่นาที</span></div>
              </div>
              <div class="row row-large-header">
                <div class="icon"><svg viewBox="0 0 32 32">
                    <path d="M16 4.83l3.18 7 .48 1.06 1.16.11 6.76.61L22.27 19l-.75.75.2 1 1.38 7.19-6.1-3.72-1-.64-1 .64-6.15 3.7 1.42-7.16.21-1-.76-.76-5.31-5.39 6.77-.61 1.16-.11.48-1.06 3.18-7M16 0l-5 11-11 1 8.3 8.37L6 32l10-6.07L26 32l-2.31-11.63L32 12l-11-1-5-11z"></path>
                  </svg></div>
                <div class="rating-title">คะแนนร้านค้า</div>
                <a routerLink="/profile" class="data ember-view"> <span style="font-size: 14px;">0</span>
                </a>
              </div>
              <div class="row row-large-header">
                <div class="icon"><svg viewBox="0 0 32 32">
                    <path d="M24.2 3.7h-2.1v-.8h-2.5C19.2 1.3 17.7 0 16 0c-1.8 0-3.3 1.3-3.7 2.9H9.8v.8h-2c-3.2 0-5.9 2.6-5.9 5.9v16.5c0 3.3 2.6 5.9 5.9 5.9h16.5c3.2 0 5.9-2.6 5.9-5.9V9.6c-.1-3.2-2.7-5.9-6-5.9zm-12.7 1h2.4v-.9c0-1.1.9-2 2-2s2 .9 2 2v.9h2.4v4.1h-8.9V4.7zm16.4 21.4c0 2-1.6 3.6-3.6 3.6H7.8c-2 0-3.6-1.6-3.6-3.6V9.6c0-2 1.6-3.6 3.6-3.6h2v4.5h12.4V6h2.1c2 0 3.6 1.6 3.6 3.6v16.5zM15.5 25c-.2 0-.4-.1-.5-.2L10.1 21c-.4-.3-.4-.9-.1-1.2.3-.4.9-.4 1.2-.1l4.1 3.3 6.3-9.8c.3-.4.8-.5 1.2-.3.4.3.5.8.3 1.2l-6.8 10.7c-.1.2-.3.4-.6.4-.1-.2-.1-.2-.2-.2z"></path>
                  </svg></div>
                <div class="rating-title">อัตราคำสั่งซื้อที่ไม่สำเร็จ</div>
                <a routerLink="/profile" target="_blank" class="data">
                  <span class="subdata">
                    ออเดอร์น้อยเกินไป ไม่สามารถคำนวนได้
                  </span>
                  <svg viewBox="0 0 32 32">
                    <path d="M23.5 15.5l-12-11c-.6-.6-1.5-.6-2.1 0-.2.2-.4.6-.4 1s.2.8.4 1l10.9 10-10.9 10c-.6.6-.6 1.5 0 2.1.3.3.7.4 1 .4.4 0 .7-.1 1-.4l11.9-10.9.1-.1c.3-.3.4-.7.4-1.1.1-.4 0-.8-.3-1z"></path>
                  </svg>
                </a>
              </div>
            </div> -->
          </div>
        </div>
        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 col-xl-7">
          <div class="seller-profile">
            <div class="edit-row">
              <!-- <div class="edit-label"><svg viewBox="0 0 32 32">
                  <path d="M28 16.9v12.8H4V16.6c-1-.9-1.7-2.6-1.7-4.1L5.7 2.2h20.6l3.4 10.3c.1 1.8-.4 3.5-1.7 4.4zM5.7 28h20.6v-3.4H5.7V28zm0-5.1h20.6v-5.2c-.3 0-.5.1-.9.1-1.3 0-2.7-.7-3.4-1.7-.7 1-1.6 1.7-3 1.7-1.2 0-2.3-.9-3-1.7-.7.9-1.8 1.7-3 1.7-1.4 0-2.3-.7-3-1.7-.8 1-2.2 1.7-3.5 1.7-.3 0-.5 0-.8-.1v5.2zM25.2 4H6.8l-2.3 6.9h22.9L25.2 4zM4 12.6C4.2 14 5.3 16 6.5 16s2.7 0 2.7-1.7h1.7s0 1.7 2.1 1.7 2.1-1.7 2.1-1.7h1.8S16.8 16 19 16c2.1 0 2.1-1.7 2.1-1.7H23s0 1.7 2.7 1.7c2.5 0 2.5-3.4 2.5-3.4H4z"></path>
                </svg>ชื่อร้าน
              </div> -->
              <div class="edit-input">
                <div class="input">
                  <mat-form-field>
                    <mat-icon style="position: absolute;
                        right: 0;
                        bottom: 2px;
                        color: #9f9f9f;">assignment_ind</mat-icon>
                    <input type="text" [(ngModel)]="shop.name" matInput placeholder="ชื่อร้าน">
                  </mat-form-field>
                  <!-- <input type="text" placeholder="" maxlength="80" class="ember-text-field"></div> -->
                </div>
              </div>
              <div class="edit-row">
                <div class="edit-label">
                  <svg viewBox="0 0 32 32">
                    <path d="M30 32H2c-1.1 0-2-.9-2-2V2C0 .9.9 0 2 0h28c1.1 0 2 .9 2 2v28c0 1.1-.9 2-2 2zm0-29c0-.6-.4-1-1-1H3c-.6 0-1 .4-1 1v26c0 .6.4 1 1 1h26c.6 0 1-.4 1-1V3zM18.8 24.5c-.2.2-.5.3-.8.3-.3 0-.6-.1-.8-.3l-6-4.6-5.4 7.8c-.4.4-1.1.4-1.5 0-.4-.4-.4-1.1 0-1.6l5.9-8.4c.2-.2.5-.3.8-.3.3 0 .6.1.8.3l6 4.6 8.4-9.9c.4-.4 1.1-.4 1.5 0 .4.4.4 1.1 0 1.6l-8.9 10.5zM9 12c-1.7 0-3-1.3-3-3s1.3-3 3-3 3 1.3 3 3-1.3 3-3 3zm0-4c-.6 0-1 .5-1 1 0 .6.4 1 1 1s1-.4 1-1c0-.5-.4-1-1-1z"></path>
                  </svg>คำอธิบายรูปภาพ
                </div>
                <div class="row edit-row">
                  <div class="col-8 edit-description">รูปภาพร้านค้าจะแสดงอยู่ในโปรไฟล์ร้านค้า</div>
                  <div class="col-4 edit-state">0 / 5 รูปภาพ</div>
                </div>
                <div class="shop-desc-media">
                  <div class="banner-manager image-manager is-min">
                    <!-- <ul class="sortable-items">
                  </ul> -->
                    <!-- <ul class="sortable-items sortable-items-shadow">
                    <li class="image-manager__dropzone"> -->
                    <!-- <div class="image-manager__item "> -->
                    <div class="row">
                      <div class="col-6 no-padding image-manager__item">
                        <div class="uploader-btn">
                          <div class="shop-desc-img-uploader dropzone">
                            <label for="file-uploader-input">
                              <!-- <div class="validation-toast "></div> -->
                              <div class="image-s" style="cursor: pointer;"><svg viewBox="0 0 32 32">
                                  <path d="M29.38 14.55l-3.89-4.2a1.24 1.24 0 0 0-.87-.23 1 1 0 0 0-.78.24l-7.32 6 1.25 1.41 8.49 9.55h-3L11.93 14.21a.94.94 0 0 0-.8-.29 1 1 0 0 0-.22 0h-.09a1.05 1.05 0 0 0-.51.2l-7.68 6.32V5.32a1 1 0 0 1 1-1h24.79a1 1 0 0 1 1 1v9.23zm0-12.09H2.63a1.91 1.91 0 0 0-1.91 1.9v18a.94.94 0 0 0 0 .16v4.75a1.91 1.91 0 0 0 1.91 1.93h26.75a1.91 1.91 0 0 0 1.91-1.91V4.36a1.91 1.91 0 0 0-1.91-1.91z"></path>
                                  <circle cx="9.26" cy="10.24" r="2.25"></circle>
                                </svg>
                                <div>อัพโหลดรูปภาพ</div>
                              </div>
                              <input id="file-uploader-input" type="file" multiple>
                              <!-- <div style="display:none" class="cropper-masker cropper-masker-block">
                                      <div class="cropper-loading"><img src="/images/spinner-balls-g.gif" alt=""></div>
                                      <div class="cropper-saving">กำลังบันทึก</div>
                                    </div> -->
                            </label>

                          </div>
                          <!-- <div class="shop-desc-vid-uploader" style="height: 75%; border-left: solid 1px #e8e8e8;"
                          data-ember-action="" data-ember-action-1227="1227">
                          <div class="youtube" style="cursor: pointer;" (click)="openDialog()"><svg viewBox="0 0 32 32">
                              <path d="M16.21 4.75C12.47 4.75 6.95 5 5.3 5s-2.46.25-3.44 1.1c-1.5 1.33-1.85 4-1.85 8v3.8c0 4.57.61 6.89 1.61 7.74a4.46 4.46 0 0 0 2.68 1.19c.3 0 2.41.42 11.78.42 5.84 0 10.87-.28 11.38-.34a4.38 4.38 0 0 0 2.94-1.26c1.33-1.53 1.6-4.06 1.6-7.72v-4.44c0-2.37-.13-5.72-1.61-7.13-1.11-.94-1.52-1.21-3.84-1.36-.65 0-6.35-.25-10.34-.25zm-3.46 6.78L21.38 16l-8.63 4.49v-8.96z"></path>
                            </svg>
                            <div>เพิ่มลิงค์ของ วิดีโอ YouTube</div>
                          </div>
                        </div> -->
                        </div>
                      </div>
                      <div class="col-6 no-padding">

                      </div>
                    </div>

                    <!-- </div> -->
                    <!-- </li>
                  </ul> -->
                  </div>
                </div>
              </div>
              <div class="edit-row">
                <!-- <div class="edit-label"><svg viewBox="0 0 32 32">
                  <path d="M14 32v-2h18v2H14zm6.1-19.2l-9.8 17.1L2.2 32 0 23.9 9.8 6.8l1-1.7 3-5.1L24 5.9l-3.3 5.7-.6 1.2zM2.2 24.1l1.4 5.4L9 28l-6.8-3.9zm1-1.8l6.8 3.9 8.4-14.5-6.8-3.9-8.4 14.5zM14.5 2.7l-2 3.4 6.8 3.9 2-3.4-6.8-3.9z"></path>
                </svg>รายละเอียดร้านค้า</div> -->
                <div class="edit-input">
                  <div class="textbox shopee-textarea">
                    <div class="input">
                      <mat-form-field>
                        <mat-icon style="position: absolute;
                          right: 0;
                          bottom: 2px;
                          color: #9f9f9f;">edit</mat-icon>
                        <input type="text" matInput placeholder="รายละเอียดร้านค้า">
                      </mat-form-field>
                      <!-- <textarea spellcheck="false" maxlength="500" class="ember-text-area"></textarea> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="edit-row btn-group text-center">
                <button mat-flat-button color="primary" class="btn-summit" (click)="submit()">บันทึก</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div padding-bottom *ngIf="this.dataService.message && this.dataService.message">
        <message class="text-center" [type]="dataService.messageType" [message]="dataService.message"></message>
      </div>
    </div>

  </div>