<mat-dialog-content>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 pidding-left2">
          <b >บัญชีธนาคาร</b>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
      <div class="row">

        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 pidding-left2">
          <p class="font-size1 ">กรุณาใส่ข้อมูล</p>
          <p class="font-size2 magin-botton">ชื่อ-นามสกุล</p>
          <p class="font-size3 ">ณัฐพล</p>
          <p class="font-size2 magin-botton">หมายเลขบัตรประชาชน</p>
          <p class="font-size3 ">1711200007516</p>

        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <p class="font-size1">ข้อมูลบัญชีธนาคาร</p>
          <p class="font-size2 magin-botton">ชื่อนามสกุลตามที่ปรากฎในบัญชีธนาคาร</p>
          <p class="font-size3 ">ณัฐพล</p>
          <p class="font-size2 magin-botton">เลขที่บัญชี</p>
          <p class="font-size3 ">****0767</p>
          <p class="font-size2 magin-botton">ชื่อธนาคาร (ได้รับเงินเร็วกว่าหากใช้ SCB KBANK BBL KTB)</p>
          <p class="font-size3 ">ไทยพาณิชย์ (SCB)</p>

        </div>

      </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="row">

        <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 pidding-left2">
          <button style="width:100%" (click)="delete()" mat-stroked-button>ลบ</button>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">

        </div>
        <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 pidding-right">
          <button style="width:100%" mat-stroked-button [mat-dialog-close]>ปิด</button>

        </div>
      </div>


    </div>
  </div>
</mat-dialog-content>