<mat-dialog-content>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <b class="pidding-left">บัญชีธนาคาร</b>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
      <div class="row">
        <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1">

        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <p class="font-size1">กรุณาใส่ข้อมูล</p>
          <p class="font-size2">ชื่อ-นามสกุล</p>
          <p class="font-size3">ณัฐพล</p>
          <p class="font-size2">หมายเลขบัตรประชาชน</p>
          <p class="font-size3">1711200007516</p>

        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <p class="font-size1">ข้อมูลบัญชีธนาคาร</p>
          <p class="font-size2">ชื่อนามสกุลตามที่ปรากฎในบัญชีธนาคาร</p>
          <p class="font-size3">ณัฐพล</p>
          <p class="font-size2">เลขที่บัญชี</p>
          <p class="font-size3">****0767</p>
          <p class="font-size2">ชื่อธนาคาร (ได้รับเงินเร็วกว่าหากใช้ SCB KBANK BBL KTB)</p>
          <p class="font-size3">ไทยพาณิชย์ (SCB)</p>

        </div>
        <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1">

        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="row">
        <div class="col-md-1 col-lg-1 col-xl-1">

        </div>
        <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10">
          <button mat-stroked-button>ลบ</button>
          <button class="magin-feft" mat-stroked-button [mat-dialog-close]>ยกเลิก</button>
        </div>
        <div class=" col-md-1 col-lg-1 col-xl-1">

        </div>
      </div>


    </div>
  </div>
</mat-dialog-content>