.font-size1 {
    font-size: 15px;
    color: rgba(156, 156, 156, 0.863);
}

.font-size2 {
    font-size: 10px;
    color: rgba(156, 156, 156, 0.863);
    
}

.font-size3 {
    font-size: 13px;
}.magin-feft{
    margin-left: 100px !important;
}.pidding-left{
    padding-left: 8% !important;
}.scroll {
    overflow: scroll;
}
.text-aline{
    text-align: right;
}