.mat-elevation-z6 {
    position: fixed;
    z-index: 999;
}

.example-spacer {
    flex: 1 1 auto;
}

.profile {
    font-size: 1rem;
    margin-right: 2rem;
    margin-left: 1rem;
    cursor: pointer;
}

.img {
    width: 24px;
    height: 24px;
    border-radius: 100%;
}

.noti-contranner {
    position: absolute;
    right: 2rem;
    top: 4rem;
    width: 14rem;
    background-color: #ffffff;
    height: 14rem;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    position: absolute;
    top: -0.6rem;
    margin-left: 1.4rem;
}

.arrow-up-2 {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    position: absolute;
    top: -0.6rem;
    margin-left: 4rem;
}