<mat-toolbar color="primary" class="mat-elevation-z6">
  <mat-toolbar-row layout-padding>
    <!-- <button *ngIf="isMenuIcon" padding-right mat-icon-button id="menu" (click)="sidenavService.openNav()">
      <mat-icon>menu</mat-icon>
    </button> -->
    <span padding>Furnover Seller Centre</span>
    <span class="example-spacer"></span>
    <button padding-right mat-icon-button (click)="toggleNoti()">
      <mat-icon>notifications</mat-icon>
    </button>
    <button padding-right mat-icon-button (click)="toggleApps()">
      <mat-icon>apps</mat-icon>
    </button>
    <span class="profile">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRViibnOyHWzEX4eT4zp1aVVxTeZXXr0ELNnFPkgTkp7oBjVltC"
        class="img" alt="img"> username
    </span>
  </mat-toolbar-row>
  <div class="noti-contranner" *ngIf="noti">
    <div class="arrow-up"></div>
    <div class="content">
      <ul>
        <li>
          <img src="https://cf.shopee.co.th/file/dfe640d88e65ea246da67eb7fc98ade7" alt="img" width="24px" height="24px"> Shoppee for Men
        </li>
      </ul>
    </div>
  </div>
  <div class="noti-contranner" *ngIf="apps">
    <div class="arrow-up-2"></div>

  </div>
</mat-toolbar>