<mat-toolbar color="primary" class="mat-elevation-z6">
  <mat-toolbar-row layout-padding>
    <!-- <button *ngIf="isMenuIcon" padding-right mat-icon-button id="menu" (click)="sidenavService.openNav()">
      <mat-icon>menu</mat-icon>
    </button> -->
    <span padding>Seller Centre</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">notifications</mat-icon>
    <mat-icon class="example-icon">apps</mat-icon>
    <span class="profile">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRViibnOyHWzEX4eT4zp1aVVxTeZXXr0ELNnFPkgTkp7oBjVltC" class="img" alt="img"> username
    </span>
  </mat-toolbar-row>
</mat-toolbar>
