.header{
    display: inline-block !important;
}

.position-text-header {
    position: relative;
    top: 15px;
    left:15px;
}

.border {
    border : 1px;
}

.img{
    width: 50px;
}

.padding-left{
    padding-left: 30px !important;
}

.padding-left1{
    padding-left: 50px !important;
}

.padding-bottom{
    padding-bottom: 20px !important;
    border-bottom:1px solid lightgray;
}

.padding-bottom-list{
    padding-bottom: 20px !important;
}

.border {
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
}

.border-list1{
    border-right:1px solid lightgray;
    border-left: 1px solid lightgray;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    
}
.border-list2{
    border-top:1px solid lightgray !important;
}
.font-size{
    font-size: 14px !important;

}

.font-size1{
    font-size: 14px !important;
}

.font-color-grey{
    color:gray !important;
}

.font-size2{
    font-size: 10px !important;
}

/* CSS to change 'Primary' color */

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: rgb(255, 255, 255); /*replace with your color*/
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #00C853;  /*replace with your color*/
}

.position-toggle {
    position: absolute;
    right: 0px;
}

.position-icon-header {
    padding-top: 20px!important;
}

.total {
    position: absolute;
    right: 16px;
    font-size: 0.9rem;
    color: #656565;
    z-index: 999;
}
