<div class="col-12">
    <div class="row">
      <div class="col-xs-2 col-sm-2  col-md-2 col-lg-2 col-xl-2">
        <label>ชื่อ - นามสกุล</label>
      </div>
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
        <mat-form-field class="example-full-width">
          <input type="tel" matInput placeholder="ชื่อ - นามสกุล">
        </mat-form-field>
      </div>
      <div class="col-xs-2 col-sm-2  col-md-2 col-lg-2 col-xl-2">
        <label>หมายเลขบัตรประชาชน</label>
      </div>
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
        <mat-form-field class="example-full-width">
          <input type="tel" matInput placeholder="หมายเลขบัตรประชาชน">
        </mat-form-field>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <p>* กรุณาตรวจสอบว่าคุณได้ใส่ชื่อและหมายเลขบัตรประชาชนถูกต้อง</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="row">
          <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
            <button mat-raised-button color="primary">ต่อไป</button>
          </div>
          <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 padding-btn">
            <button mat-stroked-button [mat-dialog-close]>ยกเลิก</button>
          </div>
  
        </div>
      </div>
    </div>
  </div>