<b>รายละเอียดผู้ใช้</b>
<mat-horizontal-stepper [linear]="isLinear" #stepper>

  <mat-step [stepControl]="firstFormGroup">
    <ng-template matStepLabel>ข้อมูลผู้ใช้งาน</ng-template>
    <form [formGroup]="firstFormGroup">

      <div class="col-12 no-padding">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <mat-form-field class="example-full-width">
              <input type="tel" matInput placeholder="ชื่อ - นามสกุล" [(ngModel)]="createBankData.name" formControlName="name" required>
            </mat-form-field>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <mat-form-field class="example-full-width">
              <input type="tel" matInput placeholder="หมายเลขบัตรประชาชน" [(ngModel)]="createBankData.citizinid" formControlName="citizinid" required>
            </mat-form-field>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <p class="text-req">* กรุณาตรวจสอบว่าคุณได้ใส่ชื่อและหมายเลขบัตรประชาชนถูกต้อง</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="row">
              <div class="col-xs-2 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                  <button style="width:100%" mat-button matStepperNext color="primary">ต่อไป</button>
                </div>
                <div class="col-xs-2 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                    <button style="width:100%"  mat-stroked-button [mat-dialog-close]>ยกเลิก</button>
                  </div>
            </div>
              
          </div>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <ng-template matStepLabel>ข้อมูลธนาคาร</ng-template>
    <form [formGroup]="secondFormGroup">
      <div class="col-12 no-padding">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <mat-form-field class="example-full-width">
              <input type="tel" matInput placeholder="ชื่อนามสกุลตามที่ปรากฎในบัญชีธนาคาร" [(ngModel)]="createBankData.accountname" formControlName="name" required>
            </mat-form-field>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <mat-form-field class="example-full-width">
              <input type="tel" matInput placeholder="เลขที่บัญชี" [(ngModel)]="createBankData.accountnumber" formControlName="bankNumber" required>
            </mat-form-field>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <mat-select placeholder="เลือกธนาคาร" formControlName="nameBank" required>
              <mat-option *ngFor="let item of Getbank" [value]="item.name">
                {{item.name}}
              </mat-option>
            </mat-select>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
              <p class="text-req paddding-top ">* กรุณาตรวจสอบข้อมูลที่กรอกให้ถูกต้อง หากต้องการแก้ไขกรุณาติดต่อฝ่ายบริการลูกค้า</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="row">
              <div class="col-xs-2 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                <button style="width:100%" mat-button matStepperNext color="primary">ต่อไป</button>
              </div>
              <div class="col-xs-2 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                  <button style="width:100%"  mat-stroked-button [mat-dialog-close]>ยกเลิก</button>
                </div>
              <div class="col-xs-4 col-sm-12 col-md-4 col-lg-4 col-xl-4">
              </div>
              <div class="col-xs-4 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <button style="width:100%" mat-stroked-button matStepperPrevious>ย้อนกลับก่อนหน้านี้</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>ยืนยัน</ng-template>
    <mat-dialog-content>
      <div class="col-12 no-padding">
        <div class="row">
          <div class="col-xs-6 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <p class="font-size1">กรุณาใส่ข้อมูล</p>
                <p class="font-size2">ชื่อ-นามสกุล</p>
                <p class="font-size3 magin-botton">{{createBankData.name}}</p>
                <p class="font-size2">หมายเลขบัตรประชาชน</p>
                <p class="font-size3 magin-botton">{{createBankData.citizinid}}</p>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <p class="font-size1">ข้อมูลบัญชีธนาคาร</p>
                <p class="font-size2">ชื่อนามสกุลตามที่ปรากฎในบัญชีธนาคาร</p>
                <p class="font-size3 magin-botton">{{createBankData.name}}</p>
                <p class="font-size2">เลขที่บัญชี</p>
                <p class="font-size3 magin-botton">****0767</p>
                <p class="font-size2">ชื่อธนาคาร (ได้รับเงินเร็วกว่าหากใช้ SCB KBANK BBL KTB)</p>
                <p class="font-size3">{{createBankData.accountname}}</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="row">
                  <div class="col-xs-2 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                    <button style="width:100%" mat-button matStepperNext color="primary">ต่อไป</button>
                  </div>
                  <div class="col-xs-2 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                      <button style="width:100%"  mat-stroked-button [mat-dialog-close]>ยกเลิก</button>
                    </div>
                  <div class="col-xs-4 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                  </div>
                  <div class="col-xs-4 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <button style="width:100%" mat-stroked-button matStepperPrevious>ย้อนกลับก่อนหน้านี้</button>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </mat-dialog-content>
  </mat-step>
</mat-horizontal-stepper>