.padding-left {
    padding-left: 25px !important;
}

.padding-btn {
    padding-left: 50px !important;
}

.padding-end {
    padding-left: 90px !important;
}

.text-req {
    font-size: 13px;
}

.magin-feft {
    margin-left: 30px !important;
}

.font-size1 {
    font-size: 15px;
    color: rgba(156, 156, 156, 0.863);
}

.font-size2 {
    font-size: 10px;
    color: rgba(156, 156, 156, 0.863);
}

.font-size3 {
    font-size: 13px;
}

.magin-botton {
    margin-bottom: 3% !important;
}

.no-padding {
    padding: 0px !important;
}.paddding-top{
    padding-top: 2% !important;
}