.padding-left {
    padding-left: 25px !important ;
}

.padding-btn {
    padding-left : 50px !important ;
}.padding-end{
    padding-left: 90px !important;
}.text-req{
    font-size: 13px;
}.magin-feft{
    margin-left: 30px !important;
}