<div class="row padding-left" style="margin-top :-15px ">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <b>เพิ่มลิงค์ของ วิดีโอ YouTube</b>
  </div>
</div>
<div class="row padding-left" style="margin-top: 34px;margin-bottom: 10px;">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 font-youtube">
    <label>เพิ่มวิดีโอ YouTube ลงใน โปรไฟล์ของคุณโดยการใส่ ลิงค์ของ YouTube ลงไปด้านล่างนี้</label>
    <label>ตัวอย่าง:&nbsp;&nbsp; <a href="https://youtu.be/abCdEfg999" target="_blank">https://youtu.be/abCdEfg9991</a></label>
  </div>
</div>
<div class="row padding-left" style="margin-bottom: 34px;">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 font-youtube">
    <div class="edit-input">
      <div class="input">
        <input type="text" placeholder="ลิงค์ของ วิดีโอ YouTube" class="ember-text-field"></div>
    </div>
  </div>
</div>

<div class="row padding-left">
  <button mat-flat-button color="primary" style="margin-right:10%">อัพเดท</button>
  <button mat-stroked-button [mat-dialog-close] class="magin-left">ยกเลิก</button>
</div>