<div class="row">
    <div class="col-lg-3 col-xl-3 col-xs-12 col-sm-12 col-md-12">
      <side-menu-setting-shop></side-menu-setting-shop>
    </div>
    <div class="col-lg-8">
      <div>
        <mat-card>
          <app-setting-header></app-setting-header>
          <form [formGroup]="settingPassword">
          <div class="row">
            <div class="col-xs-3 col-md-3 col-lg-3 col-xl-3"></div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <mat-form-field class="example-full-width">
                <input type="password" matInput placeholder="รหัสผ่านปัจจุบัน" [(ngModel)]="dataPassword.oldPassword"  formControlName="oldPassword" required>
              </mat-form-field>
            </div>
            <div class="col-xs-3 col-md-3 col-lg-3 col-xl-3"></div>
          </div>
          <div class="row">
            <div class="col-xs-3 col-md-3 col-lg-3 col-xl-3"></div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <mat-form-field class="example-full-width">
                <input type="password" matInput placeholder="รหัสผ่านใหม่" [(ngModel)]="dataPassword.newPassword" formControlName="newPassword" required>
              </mat-form-field>
            </div>
            <div class="col-xs-3 col-md-3 col-lg-3 col-xl-3"></div>
          </div>
          <div class="row">
            <div class="col-xs-3 col-md-3 col-lg-3 col-xl-3"></div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <mat-form-field class="example-full-width">
                <input type="password" matInput placeholder="ยืนยันรหัสผ่าน" [(ngModel)]="dataPassword.verifyPassword" formControlName="verifyPassword" required>
              </mat-form-field>
            </div>
            <div class="col-xs-3 col-md-3 col-lg-3 col-xl-3"></div>
          </div>
          <message class="text-center" [type]="dataService.messageType" [message]="dataService.message"></message>
          <div class="row">
            <div class="col-xs-5 col-md-5 col-lg-5 col-xl-5"></div>
            <div class="col-xs-2 col-sm-12 col-md-2 col-lg-2 col-xl-2">
              <button style="width:100%" mat-button (click)="updatePassword()" color="primary">อัพเดท</button>
            </div>
            <div class="col-xs-5 col-md-5 col-lg-5 col-xl-5"></div>
          </div>

      </form>
        </mat-card>
      </div>
  
    </div>
  </div>